Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [380]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [381]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [382]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [383]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.560,0.0103,0.01107,0.01736,0.0103,0.02039,0.0103,0.02039,0.0103,...,63.767281,54.291319,54.291319,3.554421,0.004313,0.007698,0.010264,0.015397,0.030793,0.437974
218,PAXUSDT,999.000,0.9388,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,9.6200,10.53000,17.91000,9.6200,23.52000,9.6200,23.52000,9.6200,...,58.793970,44.770408,44.770408,NaN,NaN,10.000000,13.333333,20.000000,40.000000,0.053000
100,EPSUSDT,22.500,0.1418,0.16790,0.30580,0.1500,0.30580,0.1480,0.30580,0.1418,...,54.905167,54.905167,54.905167,0.335095,0.372050,0.099269,0.132359,0.198538,0.397076,0.691363
45,TLMUSDT,5.950,0.0512,0.05680,0.10670,0.0512,0.14830,0.0512,0.14830,0.0512,...,53.233365,38.300742,38.300742,0.085878,0.586333,0.060862,0.081149,0.121724,0.243448,-0.066740
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NEARUSDT,20.597,0.5246,9.90400,17.82000,8.8600,19.78800,8.8600,19.78800,7.3850,...,55.578002,50.050536,50.050536,4.190048,1.488760,6.381429,8.508571,12.762857,25.525714,0.552004
11,ETHUSDT,4868.000,86.0000,2357.74000,3213.63000,2200.0000,3580.34000,2200.0000,3580.34000,2200.0000,...,73.366878,65.852405,65.852405,187.327013,0.940567,1482.297857,1976.397143,2964.595714,5929.191429,0.590598
167,KEEPUSDT,1.209,0.2113,0.62510,NaN,NaN,NaN,NaN,0.67000,0.5800,...,NaN,NaN,93.298507,NaN,NaN,0.322624,0.430165,0.645248,1.290495,0.937551
235,GHSTUSDT,3.400,1.5080,1.78400,1.99700,1.7210,2.19900,1.7210,2.19900,1.7210,...,89.334001,81.127785,81.127785,NaN,NaN,1.006310,1.341746,2.012619,4.025238,0.772814
236,PAXGUSDT,2100.850,1687.5700,1860.00000,1999.00000,1846.0000,1999.00000,1846.0000,2076.00000,1845.0000,...,93.046523,93.046523,89.595376,49.254788,1.026710,946.666667,1262.222222,1893.333333,3786.666667,0.964789

In [384]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='INJUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
152,INJUSDT,25.306,0.18,3.015,6.12,2.783,7.587,2.783,7.676,2.783,...,49.264706,39.739027,39.27827,3.076637,0.642709,2.76719,3.689587,5.534381,11.068762,0.089553

In [385]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-05-10
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

     Indicator       ATH         RED     ORANGE      GREEN   Current
200    DIAUSDT    5.8000    1.943714   0.971857   0.485929   0.53800
39   THETAUSDT   15.8800    6.513238   3.256619   1.628310   1.80100
126    LRCUSDT    3.8500    2.096762   1.048381   0.524190   0.57820
99   STORJUSDT    3.8330    2.400333   1.200167   0.600083   0.66100
146    FLMUSDT    4.5000    0.474038   0.237019   0.118510   0.13020
..         ...       ...         ...        ...        ...       ...
42    LUNAUSDT  119.5500  151.878095  75.939048  37.969524  28.20000
116    ONEUSDT    0.3800    0.339009   0.169504   0.084752   0.06277
169   PONDUSDT    0.3180    0.078021   0.039010   0.019505   0.01419
185   PERPUSDT   26.2100   11.052381   5.526190   2.763095   1.94000
20     FTMUSDT    3.4842    3.286029   1.643014   0.821507   0.57000

[86 rows x 6 columns]

In [386]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

    Indicator          RED       ORANGE        GREEN     Current
157   SUNUSDT     0.030793     0.015397     0.007698     0.01107
218   PAXUSDT     1.999019     0.999510     0.499755     0.99960
21    ICPUSDT    40.000000    20.000000    10.000000    10.53000
100   EPSUSDT     0.397076     0.198538     0.099269     0.16790
45    TLMUSDT     0.243448     0.121724     0.060862     0.05680
..        ...          ...          ...          ...         ...
74   NEARUSDT    25.525714    12.762857     6.381429     9.90400
11    ETHUSDT  5929.191429  2964.595714  1482.297857  2357.74000
167  KEEPUSDT     1.290495     0.645248     0.322624     0.62510
235  GHSTUSDT     4.025238     2.012619     1.006310     1.78400
236  PAXGUSDT  3786.666667  1893.333333   946.666667  1860.00000

[259 rows x 5 columns]

In [387]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [388]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

    Indicator      GREEN     ORANGE        RED   Current
218   PAXUSDT   0.499755   0.999510   1.999019   0.99960
242   GXSUSDT   0.853738   1.707476   3.414952   1.79230
189  TUSDUSDT   0.499890   0.999781   1.999562   1.00030
44    TRXUSDT   0.033528   0.067055   0.134110   0.07767
214  TORNUSDT  19.274286  38.548571  77.097143  42.98000

In [389]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [390]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display.Current < display.GREEN*1.05]
display = display.loc[display.Current < display.GREEN]

#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,RED,ORANGE,GREEN,Current,ORatio
33,ALICEUSDT,60.00000,15.340000,7.670000,3.835000,3.83000,2.002611
209,FORUSDT,0.14477,0.093658,0.046829,0.023415,0.02332,2.008107
232,WINGUSDT,300.00000,19.582857,9.791429,4.895714,4.85000,2.018851
188,ERNUSDT,24.80000,11.302381,5.651190,2.825595,2.79600,2.021170
160,NANOUSDT,17.70000,9.021524,4.510762,2.255381,2.22400,2.028220
51,ATOMUSDT,44.80000,55.407619,27.703810,13.851905,13.55000,2.044562
138,CTSIUSDT,1.75000,0.859505,0.429752,0.214876,0.20890,2.057216
131,LITUSDT,18.82640,3.302286,1.651143,0.825571,0.80200,2.058782
4,ORNUSDT,29.85000,7.578571,3.789286,1.894643,1.83900,2.060514
181,ORNUSDT,29.85000,7.578571,3.789286,1.894643,1.83900,2.060514
229,IRISUSDT,0.32000,0.131943,0.065971,0.032986,0.03181,2.073921
133,GTCUSDT,29.04300,15.172476,7.586238,3.793119,3.65600,2.075010
103,ENJUSDT,4.84500,3.433429,1.716714,0.858357,0.82600,2.078347
139,HNTUSDT,59.27000,48.720952,24.360476,12.180238,11.71000,2.080314
134,CELRUSDT,0.19870,0.103742,0.051871,0.025935,0.02493,2.080664
6,IRISUSDT,0.32000,0.131931,0.065966,0.032983,0.03169,2.081594
197,RAMPUSDT,1.30000,0.214219,0.107110,0.053555,0.05140,2.083843
187,STXUSDT,3.25600,2.835429,1.417714,0.708857,0.67400,2.103434
163,TVKUSDT,0.55000,0.252619,0.126310,0.063155,0.06000,2.105159
158,AKROUSDT,0.08850,0.027458,0.013729,0.006865,0.00652,2.105682
88,RAYUSDT,17.80000,7.020667,3.510333,1.755167,1.65700,2.118487
137,WAXPUSDT,0.98350,0.635190,0.317595,0.158798,0.14980,2.120128
94,ROSEUSDT,0.59800,0.556643,0.278321,0.139161,0.13017,2.138138
110,DODOUSDT,10.00000,1.013905,0.506952,0.253476,0.23700,2.139040
45,TLMUSDT,5.95000,0.243448,0.121724,0.060862,0.05680,2.143025
186,MIRUSDT,14.55000,3.019048,1.509524,0.754762,0.69700,2.165744
12,AXSUSDT,166.09000,113.962857,56.981429,28.490714,26.15000,2.179022
85,MANAUSDT,5.90000,4.960105,2.480052,1.240026,1.12940,2.195903
225,KLAYUSDT,4.40000,2.207429,1.103714,0.551857,0.50000,2.207429
240,PERLUSDT,0.29632,0.100934,0.050467,0.025234,0.02278,2.215415
52,SUSHIUSDT,23.43000,8.454571,4.227286,2.113643,1.87400,2.255755
171,ANTUSDT,43.00000,11.543048,5.771524,2.885762,2.52200,2.288471
196,BURGERUSDT,29.00000,3.466667,1.733333,0.866667,0.73600,2.355072
221,WTCUSDT,2.92420,1.061752,0.530876,0.265438,0.21830,2.431865
144,RSRUSDT,0.11900,0.033733,0.016867,0.008433,0.00665,2.536341
220,DUSKUSDT,1.17430,0.913552,0.456776,0.228388,0.17500,2.610150
42,LUNAUSDT,119.55000,151.878095,75.939048,37.969524,28.20000,2.692874
116,ONEUSDT,0.38000,0.339009,0.169504,0.084752,0.06277,2.700403
169,PONDUSDT,0.31800,0.078021,0.039010,0.019505,0.01419,2.749153
185,PERPUSDT,26.21000,11.052381,5.526190,2.763095,1.94000,2.848552
20,FTMUSDT,3.48420,3.286029,1.643014,0.821507,0.57000,2.882481

# entries

In [391]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',12],['ARUSDT',23],['ATOMUSDT',18],['MIRUSDT',2.343],['ALGOUSDT',0.63],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',115],['NEARUSDT',10.320],['WINUSDT',0.00025],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',3.7],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',13.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.18],['MOVRUSDT',33.7],['TFUELUSDT',0.16],['GLMRUSDT',2.311],['COTIUSDT',0.2],['ONEUSDT',0.08],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',15],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',0.72],['BANDUSDT',3.6],['1INCHUSDT',1.3],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','2.8'],['MANAUSDT','1.65'],['PAXGUSDT','1785'],['INJUSDT','5'],['PERPUSDT','2.22']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
7,MIRUSDT,2.343000,85.0,14.5500,3.019048,1.509524,0.754762,0.69700,2.165744,70.251814
20,SUSHIUSDT,3.500000,2730.0,23.4300,8.454571,4.227286,2.113643,1.87400,2.255755,46.457143
2,WAXPUSDT,0.255100,527.0,0.9835,0.635190,0.317595,0.158798,0.14980,2.120128,41.277930
54,CTSIUSDT,0.320000,325.0,1.7500,0.859505,0.429752,0.214876,0.20890,2.057216,34.718750
30,RAYUSDT,2.500000,100.0,17.8000,7.020667,3.510333,1.755167,1.65700,2.118487,33.720000
29,ANTUSDT,3.800000,200.0,43.0000,11.543048,5.771524,2.885762,2.52200,2.288471,33.631579
62,MANAUSDT,1.650000,NaN,5.9000,4.960105,2.480052,1.240026,1.12940,2.195903,31.551515
31,ROSEUSDT,0.180000,634.0,0.5980,0.556643,0.278321,0.139161,0.13017,2.138138,27.683333
39,CELRUSDT,0.034063,500.0,0.1987,0.103742,0.051871,0.025935,0.02493,2.080664,26.812083
6,ATOMUSDT,18.000000,1863.0,44.8000,55.407619,27.703810,13.851905,13.55000,2.044562,24.722222
36,ONEUSDT,0.080000,1000.0,0.3800,0.339009,0.169504,0.084752,0.06277,2.700403,21.537500
49,FTMUSDT,0.720000,2000.0,3.4842,3.286029,1.643014,0.821507,0.57000,2.882481,20.833333
23,HNTUSDT,13.900000,1250.0,59.2700,48.720952,24.360476,12.180238,11.71000,2.080314,15.755396
65,PERPUSDT,2.220000,NaN,26.2100,11.052381,5.526190,2.763095,1.94000,2.848552,12.612613
55,LUNAUSDT,13.000000,4000.0,119.5500,151.878095,75.939048,37.969524,28.20000,2.692874,-116.923077

# Red Band

In [392]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [393]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

In [394]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [395]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
7,MIRUSDT,2.343000,85.0,14.5500,3.019048,1.509524,0.754762,0.69700,2.165744,70.251814,2.165744,4.331489,20.875179
20,SUSHIUSDT,3.500000,2730.0,23.4300,8.454571,4.227286,2.113643,1.87400,2.255755,46.457143,2.255755,4.511511,12.502668
2,WAXPUSDT,0.255100,527.0,0.9835,0.635190,0.317595,0.158798,0.14980,2.120128,41.277930,2.120128,4.240257,6.565421
54,CTSIUSDT,0.320000,325.0,1.7500,0.859505,0.429752,0.214876,0.20890,2.057216,34.718750,2.057216,4.114432,8.377214
30,RAYUSDT,2.500000,100.0,17.8000,7.020667,3.510333,1.755167,1.65700,2.118487,33.720000,2.118487,4.236974,10.742305
29,ANTUSDT,3.800000,200.0,43.0000,11.543048,5.771524,2.885762,2.52200,2.288471,33.631579,2.288471,4.576942,17.049960
62,MANAUSDT,1.650000,NaN,5.9000,4.960105,2.480052,1.240026,1.12940,2.195903,31.551515,2.195903,4.391805,5.224013
31,ROSEUSDT,0.180000,634.0,0.5980,0.556643,0.278321,0.139161,0.13017,2.138138,27.683333,2.138138,4.276276,4.593992
39,CELRUSDT,0.034063,500.0,0.1987,0.103742,0.051871,0.025935,0.02493,2.080664,26.812083,2.080664,4.161328,7.970317
6,ATOMUSDT,18.000000,1863.0,44.8000,55.407619,27.703810,13.851905,13.55000,2.044562,24.722222,2.044562,4.089123,3.306273
36,ONEUSDT,0.080000,1000.0,0.3800,0.339009,0.169504,0.084752,0.06277,2.700403,21.537500,2.700403,5.400806,6.053847
49,FTMUSDT,0.720000,2000.0,3.4842,3.286029,1.643014,0.821507,0.57000,2.882481,20.833333,2.882481,5.764962,6.112632
23,HNTUSDT,13.900000,1250.0,59.2700,48.720952,24.360476,12.180238,11.71000,2.080314,15.755396,2.080314,4.160628,5.061486
65,PERPUSDT,2.220000,NaN,26.2100,11.052381,5.526190,2.763095,1.94000,2.848552,12.612613,2.848552,5.697104,13.510309
55,LUNAUSDT,13.000000,4000.0,119.5500,151.878095,75.939048,37.969524,28.20000,2.692874,-116.923077,2.692874,5.385748,4.239362

In [396]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
7,MIRUSDT,2.343000,85.0,14.5500,3.019048,1.509524,0.754762,0.69700,2.165744,70.251814,2.165744,4.331489,20.875179,1.293253e+04
20,SUSHIUSDT,3.500000,2730.0,23.4300,8.454571,4.227286,2.113643,1.87400,2.255755,46.457143,2.255755,4.511511,12.502668,2.860930e+05
2,WAXPUSDT,0.255100,527.0,0.9835,0.635190,0.317595,0.158798,0.14980,2.120128,41.277930,2.120128,4.240257,6.565421,4.612015e+04
54,CTSIUSDT,0.320000,325.0,1.7500,0.859505,0.429752,0.214876,0.20890,2.057216,34.718750,2.057216,4.114432,8.377214,2.321279e+04
30,RAYUSDT,2.500000,100.0,17.8000,7.020667,3.510333,1.755167,1.65700,2.118487,33.720000,2.118487,4.236974,10.742305,7.143539e+03
29,ANTUSDT,3.800000,200.0,43.0000,11.543048,5.771524,2.885762,2.52200,2.288471,33.631579,2.288471,4.576942,17.049960,1.539298e+04
62,MANAUSDT,1.650000,NaN,5.9000,4.960105,2.480052,1.240026,1.12940,2.195903,31.551515,2.195903,4.391805,5.224013,NaN
31,ROSEUSDT,0.180000,634.0,0.5980,0.556643,0.278321,0.139161,0.13017,2.138138,27.683333,2.138138,4.276276,4.593992,3.752696e+04
39,CELRUSDT,0.034063,500.0,0.1987,0.103742,0.051871,0.025935,0.02493,2.080664,26.812083,2.080664,4.161328,7.970317,2.789347e+04
6,ATOMUSDT,18.000000,1863.0,44.8000,55.407619,27.703810,13.851905,13.55000,2.044562,24.722222,2.044562,4.089123,3.306273,9.416740e+04
36,ONEUSDT,0.080000,1000.0,0.3800,0.339009,0.169504,0.084752,0.06277,2.700403,21.537500,2.700403,5.400806,6.053847,5.815993e+04
49,FTMUSDT,0.720000,2000.0,3.4842,3.286029,1.643014,0.821507,0.57000,2.882481,20.833333,2.882481,5.764962,6.112632,1.201034e+05
23,HNTUSDT,13.900000,1250.0,59.2700,48.720952,24.360476,12.180238,11.71000,2.080314,15.755396,2.080314,4.160628,5.061486,4.097021e+04
65,PERPUSDT,2.220000,NaN,26.2100,11.052381,5.526190,2.763095,1.94000,2.848552,12.612613,2.848552,5.697104,13.510309,NaN
55,LUNAUSDT,13.000000,4000.0,119.5500,151.878095,75.939048,37.969524,28.20000,2.692874,-116.923077,2.692874,5.385748,4.239362,-1.259436e+06

In [397]:
exposuredrop.to_csv("exposuredrop.csv")

In [398]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,SUSHIUSDT,3.500000,2730.0,23.4300,8.454571,4.227286,2.113643,1.87400,2.255755,46.457143,2.255755,4.511511,12.502668,2.860930e+05,0.771157,0.771157
11,FTMUSDT,0.720000,2000.0,3.4842,3.286029,1.643014,0.821507,0.57000,2.882481,20.833333,2.882481,5.764962,6.112632,1.201034e+05,0.800363,0.800363
9,ATOMUSDT,18.000000,1863.0,44.8000,55.407619,27.703810,13.851905,13.55000,2.044562,24.722222,2.044562,4.089123,3.306273,9.416740e+04,NaN,NaN
10,ONEUSDT,0.080000,1000.0,0.3800,0.339009,0.169504,0.084752,0.06277,2.700403,21.537500,2.700403,5.400806,6.053847,5.815993e+04,0.898427,0.898427
2,WAXPUSDT,0.255100,527.0,0.9835,0.635190,0.317595,0.158798,0.14980,2.120128,41.277930,2.120128,4.240257,6.565421,4.612015e+04,0.522609,0.522609
12,HNTUSDT,13.900000,1250.0,59.2700,48.720952,24.360476,12.180238,11.71000,2.080314,15.755396,2.080314,4.160628,5.061486,4.097021e+04,NaN,NaN
7,ROSEUSDT,0.180000,634.0,0.5980,0.556643,0.278321,0.139161,0.13017,2.138138,27.683333,2.138138,4.276276,4.593992,3.752696e+04,NaN,NaN
8,CELRUSDT,0.034063,500.0,0.1987,0.103742,0.051871,0.025935,0.02493,2.080664,26.812083,2.080664,4.161328,7.970317,2.789347e+04,NaN,NaN
3,CTSIUSDT,0.320000,325.0,1.7500,0.859505,0.429752,0.214876,0.20890,2.057216,34.718750,2.057216,4.114432,8.377214,2.321279e+04,NaN,NaN
5,ANTUSDT,3.800000,200.0,43.0000,11.543048,5.771524,2.885762,2.52200,2.288471,33.631579,2.288471,4.576942,17.049960,1.539298e+04,NaN,NaN
0,MIRUSDT,2.343000,85.0,14.5500,3.019048,1.509524,0.754762,0.69700,2.165744,70.251814,2.165744,4.331489,20.875179,1.293253e+04,NaN,NaN
4,RAYUSDT,2.500000,100.0,17.8000,7.020667,3.510333,1.755167,1.65700,2.118487,33.720000,2.118487,4.236974,10.742305,7.143539e+03,NaN,NaN
14,LUNAUSDT,13.000000,4000.0,119.5500,151.878095,75.939048,37.969524,28.20000,2.692874,-116.923077,2.692874,5.385748,4.239362,-1.259436e+06,NaN,NaN
6,MANAUSDT,1.650000,NaN,5.9000,4.960105,2.480052,1.240026,1.12940,2.195903,31.551515,2.195903,4.391805,5.224013,NaN,0.688859,0.688859
13,PERPUSDT,2.220000,NaN,26.2100,11.052381,5.526190,2.763095,1.94000,2.848552,12.612613,2.848552,5.697104,13.510309,NaN,NaN,NaN

In [399]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,SUSHIUSDT,3.500000,2730.0,23.4300,8.454571,4.227286,2.113643,1.87400,2.255755,46.457143,2.255755,4.511511,12.502668,2.860930e+05,0.771157,0.771157
11,FTMUSDT,0.720000,2000.0,3.4842,3.286029,1.643014,0.821507,0.57000,2.882481,20.833333,2.882481,5.764962,6.112632,1.201034e+05,0.800363,0.800363
9,ATOMUSDT,18.000000,1863.0,44.8000,55.407619,27.703810,13.851905,13.55000,2.044562,24.722222,2.044562,4.089123,3.306273,9.416740e+04,NaN,NaN
10,ONEUSDT,0.080000,1000.0,0.3800,0.339009,0.169504,0.084752,0.06277,2.700403,21.537500,2.700403,5.400806,6.053847,5.815993e+04,0.898427,0.898427
2,WAXPUSDT,0.255100,527.0,0.9835,0.635190,0.317595,0.158798,0.14980,2.120128,41.277930,2.120128,4.240257,6.565421,4.612015e+04,0.522609,0.522609
12,HNTUSDT,13.900000,1250.0,59.2700,48.720952,24.360476,12.180238,11.71000,2.080314,15.755396,2.080314,4.160628,5.061486,4.097021e+04,NaN,NaN
7,ROSEUSDT,0.180000,634.0,0.5980,0.556643,0.278321,0.139161,0.13017,2.138138,27.683333,2.138138,4.276276,4.593992,3.752696e+04,NaN,NaN
8,CELRUSDT,0.034063,500.0,0.1987,0.103742,0.051871,0.025935,0.02493,2.080664,26.812083,2.080664,4.161328,7.970317,2.789347e+04,NaN,NaN
3,CTSIUSDT,0.320000,325.0,1.7500,0.859505,0.429752,0.214876,0.20890,2.057216,34.718750,2.057216,4.114432,8.377214,2.321279e+04,NaN,NaN
5,ANTUSDT,3.800000,200.0,43.0000,11.543048,5.771524,2.885762,2.52200,2.288471,33.631579,2.288471,4.576942,17.049960,1.539298e+04,NaN,NaN
0,MIRUSDT,2.343000,85.0,14.5500,3.019048,1.509524,0.754762,0.69700,2.165744,70.251814,2.165744,4.331489,20.875179,1.293253e+04,NaN,NaN
4,RAYUSDT,2.500000,100.0,17.8000,7.020667,3.510333,1.755167,1.65700,2.118487,33.720000,2.118487,4.236974,10.742305,7.143539e+03,NaN,NaN
14,LUNAUSDT,13.000000,4000.0,119.5500,151.878095,75.939048,37.969524,28.20000,2.692874,-116.923077,2.692874,5.385748,4.239362,-1.259436e+06,NaN,NaN
6,MANAUSDT,1.650000,NaN,5.9000,4.960105,2.480052,1.240026,1.12940,2.195903,31.551515,2.195903,4.391805,5.224013,NaN,0.688859,0.688859
13,PERPUSDT,2.220000,NaN,26.2100,11.052381,5.526190,2.763095,1.94000,2.848552,12.612613,2.848552,5.697104,13.510309,NaN,NaN,NaN