Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [21]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [22]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [23]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [24]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.56,0.01066,0.01304,0.01736,0.01153,0.02039,0.01106,0.02039,0.01066,...,75.115207,63.952918,63.952918,4.045055,0.003936,0.007993,0.010657,0.015985,0.031970,0.631505
218,PAXUSDT,999.00,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.02,11.28000,12.42000,17.91000,11.28000,23.52000,11.28000,23.52000,11.28000,...,69.346734,52.806122,52.806122,NaN,NaN,10.300952,13.734603,20.601905,41.203810,0.205714
100,EPSUSDT,22.50,0.14180,0.18230,0.30580,0.15000,0.30580,0.14800,0.30580,0.14180,...,59.614127,59.614127,59.614127,0.355401,0.363815,0.101621,0.135495,0.203243,0.406486,0.793913
45,TLMUSDT,5.95,0.06630,0.07260,0.10670,0.07000,0.14830,0.07000,0.14830,0.07000,...,68.041237,48.954821,48.954821,0.082034,0.611389,0.064531,0.086041,0.129062,0.258124,0.125042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,ETHUSDT,4868.00,86.00000,2684.74000,3213.63000,2632.95000,3580.34000,2498.67000,3580.34000,2300.00000,...,83.542287,74.985616,74.985616,107.201238,0.966014,1523.522381,2031.363175,3047.044762,6094.089524,0.762193
214,TORNUSDT,98.43,18.38000,55.42000,58.70000,38.11000,58.70000,38.11000,68.40000,22.58000,...,94.412266,94.412266,81.023392,NaN,NaN,19.262143,25.682857,38.524286,77.048571,1.877146
32,TWTUSDT,1.65,0.16980,0.93290,1.35900,0.88000,1.54990,0.61250,1.54990,0.40380,...,68.646063,60.190980,60.190980,0.016936,1.021371,0.404702,0.539603,0.809405,1.618810,1.305151
42,LUNAUSDT,119.55,0.27330,73.39000,99.43000,72.08000,119.55000,72.08000,119.55000,47.29000,...,73.810721,61.388540,61.388540,32.211191,1.692079,39.376905,52.502540,78.753810,157.507619,0.863783
236,PAXGUSDT,2100.85,1687.57000,1886.00000,1999.00000,1851.00000,1999.00000,1851.00000,2076.00000,1845.00000,...,94.347174,94.347174,90.847784,48.042104,1.026072,945.357143,1260.476190,1890.714286,3781.428571,0.995013

In [25]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='GRTUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
55,GRTUSDT,2.88073,0.03,0.301,0.4109,0.2803,0.5507,0.2803,0.5507,0.2803,...,73.253833,54.657708,54.657708,0.262738,0.629163,0.222881,0.297175,0.445762,0.891524,0.350497

In [26]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-05-07
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

     Indicator       ATH         RED     ORANGE      GREEN   Current
37    SANDUSDT    8.4876    7.363886   3.681943   1.840971   2.03490
85    MANAUSDT    5.9000    5.171600   2.585800   1.292900   1.42560
171    ANTUSDT   43.0000   11.857048   5.928524   2.964262   3.21200
204  TRIBEUSDT    1.5209    1.358086   0.679043   0.339521   0.36510
110   DODOUSDT   10.0000    1.070857   0.535429   0.267714   0.28400
88     RAYUSDT   17.8000    7.560571   3.780286   1.890143   1.98900
254   BONDUSDT   75.0000   20.660000  10.330000   5.165000   5.38000
221    WTCUSDT    2.9242    1.136295   0.568148   0.284074   0.28930
52   SUSHIUSDT   23.4300    8.796762   4.398381   2.199190   2.23900
160   NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400
144    RSRUSDT    0.1190    0.036010   0.018005   0.009002   0.00877
220   DUSKUSDT    1.1743    0.938981   0.469490   0.234745   0.22390
12     AXSUSDT  166.0900  120.360952  60.180476  30.090238  28.56000
169   PONDUSDT    0.3180    0.082871   0.041436   0.020718   0.01812
116    ONEUSDT    0.3800    0.356919   0.178460   0.089230   0.07690
20     FTMUSDT    3.4842    3.371952   1.685976   0.842988   0.72130
185   PERPUSDT   26.2100   11.814286   5.907143   2.953571   2.39000

In [27]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

    Indicator          RED       ORANGE        GREEN     Current
157   SUNUSDT     0.031970     0.015985     0.007993     0.01304
218   PAXUSDT     1.999019     0.999510     0.499755     0.99960
21    ICPUSDT    41.203810    20.601905    10.300952    12.42000
100   EPSUSDT     0.406486     0.203243     0.101621     0.18230
45    TLMUSDT     0.258124     0.129062     0.064531     0.07260
..        ...          ...          ...          ...         ...
11    ETHUSDT  6094.089524  3047.044762  1523.522381  2684.74000
214  TORNUSDT    77.048571    38.524286    19.262143    55.42000
32    TWTUSDT     1.618810     0.809405     0.404702     0.93290
42   LUNAUSDT   157.507619    78.753810    39.376905    73.39000
236  PAXGUSDT  3781.428571  1890.714286   945.357143  1886.00000

[259 rows x 5 columns]

In [28]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [29]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

    Indicator      GREEN      ORANGE         RED    Current
218   PAXUSDT   0.499755    0.999510    1.999019    0.99960
173   ACMUSDT   2.566238    5.132476   10.264952    5.42200
142   ZRXUSDT   0.340310    0.680619    1.361238    0.70130
92    ZILUSDT   0.035271    0.070541    0.141083    0.08032
242   GXSUSDT   0.853738    1.707476    3.414952    1.79230
177   JSTUSDT   0.028406    0.056812    0.113625    0.06620
189  TUSDUSDT   0.499874    0.999748    1.999495    1.00040
121   XMRUSDT  98.421429  196.842857  393.685714  217.30000
44    TRXUSDT   0.033494    0.066988    0.133975    0.08475
150   KNCUSDT   1.261119    2.522238    5.044476    2.87700
214  TORNUSDT  19.262143   38.524286   77.048571   55.42000
32    TWTUSDT   0.404702    0.809405    1.618810    0.93290

In [30]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [31]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

     Indicator       ATH         RED     ORANGE      GREEN   Current    ORatio
37    SANDUSDT    8.4876    7.363886   3.681943   1.840971   2.03490  1.809397
85    MANAUSDT    5.9000    5.171600   2.585800   1.292900   1.42560  1.813833
171    ANTUSDT   43.0000   11.857048   5.928524   2.964262   3.21200  1.845742
204  TRIBEUSDT    1.5209    1.358086   0.679043   0.339521   0.36510  1.859882
110   DODOUSDT   10.0000    1.070857   0.535429   0.267714   0.28400  1.885312
88     RAYUSDT   17.8000    7.560571   3.780286   1.890143   1.98900  1.900596
254   BONDUSDT   75.0000   20.660000  10.330000   5.165000   5.38000  1.920074
221    WTCUSDT    2.9242    1.136295   0.568148   0.284074   0.28930  1.963870
52   SUSHIUSDT   23.4300    8.796762   4.398381   2.199190   2.23900  1.964440
160   NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400  2.028220
144    RSRUSDT    0.1190    0.036010   0.018005   0.009002   0.00877  2.052995
220   DUSKUSDT    1.1743    0.938981   0.469490   0.234745   0.22390  2.096876
12     AXSUSDT  166.0900  120.360952  60.180476  30.090238  28.56000  2.107160
169   PONDUSDT    0.3180    0.082871   0.041436   0.020718   0.01812  2.286739
116    ONEUSDT    0.3800    0.356919   0.178460   0.089230   0.07690  2.320670
20     FTMUSDT    3.4842    3.371952   1.685976   0.842988   0.72130  2.337413
185   PERPUSDT   26.2100   11.814286   5.907143   2.953571   2.39000  2.471608

# entries

In [32]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',12],['ARUSDT',23],['ATOMUSDT',18],['MIRUSDT',2.343],['ALGOUSDT',0.63],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.00025],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',3.7],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',13.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.2],['MOVRUSDT',51.6],['TFUELUSDT',0.16],['GLMRUSDT',2.311],['COTIUSDT',0.2277],['ONEUSDT',0.09],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',15],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.3],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','2.8'],['MANAUSDT','1.85'],['PAXGUSDT','1785'],['INJUSDT','5']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
49,FTMUSDT,1.15,2000.0,3.4842,3.371952,1.685976,0.842988,0.7213,2.337413,37.278261
20,SUSHIUSDT,3.50,2730.0,23.4300,8.796762,4.398381,2.199190,2.2390,1.964440,36.028571
62,MANAUSDT,1.85,NaN,5.9000,5.171600,2.585800,1.292900,1.4256,1.813833,22.940541
30,RAYUSDT,2.50,100.0,17.8000,7.560571,3.780286,1.890143,1.9890,1.900596,20.440000
29,ANTUSDT,3.80,200.0,43.0000,11.857048,5.928524,2.964262,3.2120,1.845742,15.473684
36,ONEUSDT,0.09,1000.0,0.3800,0.356919,0.178460,0.089230,0.0769,2.320670,14.555556

# Red Band

In [33]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [34]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator     GREEN    ORANGE       RED  Current
9    ZRXUSDT  0.340310  0.680619  1.361238  0.70130
45   ZILUSDT  0.035271  0.070541  0.141083  0.08032

In [35]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [36]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
49,FTMUSDT,1.15,2000.0,3.4842,3.371952,1.685976,0.842988,0.7213,2.337413,37.278261,2.337413,4.674827,4.830445
20,SUSHIUSDT,3.50,2730.0,23.4300,8.796762,4.398381,2.199190,2.2390,1.964440,36.028571,1.964440,3.928880,10.464493
62,MANAUSDT,1.85,NaN,5.9000,5.171600,2.585800,1.292900,1.4256,1.813833,22.940541,1.813833,3.627666,4.138608
30,RAYUSDT,2.50,100.0,17.8000,7.560571,3.780286,1.890143,1.9890,1.900596,20.440000,1.900596,3.801192,8.949221
29,ANTUSDT,3.80,200.0,43.0000,11.857048,5.928524,2.964262,3.2120,1.845742,15.473684,1.845742,3.691484,13.387298
36,ONEUSDT,0.09,1000.0,0.3800,0.356919,0.178460,0.089230,0.0769,2.320670,14.555556,2.320670,4.641340,4.941482

In [37]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
49,FTMUSDT,1.15,2000.0,3.4842,3.371952,1.685976,0.842988,0.7213,2.337413,37.278261,2.337413,4.674827,4.830445,174269.403157
20,SUSHIUSDT,3.50,2730.0,23.4300,8.796762,4.398381,2.199190,2.2390,1.964440,36.028571,1.964440,3.928880,10.464493,193218.380399
62,MANAUSDT,1.85,NaN,5.9000,5.171600,2.585800,1.292900,1.4256,1.813833,22.940541,1.813833,3.627666,4.138608,NaN
30,RAYUSDT,2.50,100.0,17.8000,7.560571,3.780286,1.890143,1.9890,1.900596,20.440000,1.900596,3.801192,8.949221,3884.818502
29,ANTUSDT,3.80,200.0,43.0000,11.857048,5.928524,2.964262,3.2120,1.845742,15.473684,1.845742,3.691484,13.387298,5712.086255
36,ONEUSDT,0.09,1000.0,0.3800,0.356919,0.178460,0.089230,0.0769,2.320670,14.555556,2.320670,4.641340,4.941482,33778.641264

In [38]:
exposuredrop.to_csv("exposuredrop.csv")

In [39]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,SUSHIUSDT,3.50,2730.0,23.4300,8.796762,4.398381,2.199190,2.2390,1.964440,36.028571,1.964440,3.928880,10.464493,193218.380399,0.771157,0.771157
0,FTMUSDT,1.15,2000.0,3.4842,3.371952,1.685976,0.842988,0.7213,2.337413,37.278261,2.337413,4.674827,4.830445,174269.403157,0.800363,0.800363
5,ONEUSDT,0.09,1000.0,0.3800,0.356919,0.178460,0.089230,0.0769,2.320670,14.555556,2.320670,4.641340,4.941482,33778.641264,0.898427,0.898427
4,ANTUSDT,3.80,200.0,43.0000,11.857048,5.928524,2.964262,3.2120,1.845742,15.473684,1.845742,3.691484,13.387298,5712.086255,NaN,NaN
3,RAYUSDT,2.50,100.0,17.8000,7.560571,3.780286,1.890143,1.9890,1.900596,20.440000,1.900596,3.801192,8.949221,3884.818502,NaN,NaN
2,MANAUSDT,1.85,NaN,5.9000,5.171600,2.585800,1.292900,1.4256,1.813833,22.940541,1.813833,3.627666,4.138608,NaN,0.688859,0.688859

In [40]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,FTMUSDT,1.15,2000.0,3.4842,3.371952,1.685976,0.842988,0.7213,2.337413,37.278261,2.337413,4.674827,4.830445,174269.403157,0.800363,0.800363
5,ONEUSDT,0.09,1000.0,0.3800,0.356919,0.178460,0.089230,0.0769,2.320670,14.555556,2.320670,4.641340,4.941482,33778.641264,0.898427,0.898427