Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [69]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [70]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT, ALGO/USDT, MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT, NEAR/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
interval = '1w'

In [71]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [72]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= (abs(AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,ALLTIME,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,ORANGE,RED,CLOSERATIO
158,SUNUSDT,54.560,0.01066,0.01316,0.01574,0.01105,0.0194,0.01066,0.02548,0.01066,...,0.024120,83.608640,67.835052,51.648352,7.843572,0.002665,0.010479,0.020958,0.041915,0.255868
219,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,0.100060,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.68000,18.57000,20.77000,15.34000,24.6800,14.68000,38.02000,14.68000,...,0.655947,89.407800,75.243112,48.842714,NaN,NaN,13.738571,27.477143,54.954286,0.351669
101,EPSUSDT,22.500,0.14180,0.20290,0.23000,0.14800,0.2950,0.14180,0.35760,0.14180,...,0.901778,88.217391,68.779661,56.739374,NaN,NaN,0.137283,0.274567,0.549133,0.477965
225,BTCSTUSDT,1000.000,8.00000,15.96000,26.50000,13.25000,26.5000,12.21000,26.50000,12.21000,...,1.596000,60.226415,60.226415,60.226415,13.705326,0.615267,10.958810,21.917619,43.835238,0.456363
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,TWTUSDT,1.650,0.16980,1.03190,1.54990,0.48190,1.5499,0.40380,1.54990,0.40380,...,62.539394,66.578489,66.578489,66.578489,0.032930,1.044631,0.385383,0.770767,1.541533,1.677594
151,KNCUSDT,4.360,0.68300,3.15700,3.52000,1.82200,3.5200,1.28800,3.52000,1.18400,...,72.408257,89.687500,89.687500,89.687500,0.120792,0.939915,0.944786,1.889571,3.779143,2.341498
116,WAVESUSDT,41.862,0.54290,31.76000,34.90000,11.09000,34.9000,7.56000,34.90000,7.56000,...,75.868329,91.002865,91.002865,91.002865,1.462586,0.923399,8.815476,17.630952,35.261905,2.602755
42,LUNAUSDT,104.830,0.27330,94.60000,104.83000,70.44000,104.8300,43.44000,104.83000,43.44000,...,90.241343,90.241343,90.241343,90.241343,30.299994,1.780497,34.560714,69.121429,138.242857,1.737212
237,PAXGUSDT,2100.850,1687.57000,1939.00000,2071.00000,1878.00000,2076.0000,1787.00000,2076.00000,1772.00000,...,92.295975,93.626268,93.400771,93.400771,34.040753,1.018669,928.714286,1857.428571,3714.857143,1.087833

In [73]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.85)]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

print(save)
print("Low EASY Band")
print(display.iloc[0:60,0:14])
print(display.iloc[60:110,])
print(display.iloc[110:160,])

     Indicator       ATH  CLOSERATIO        RED     ORANGE     GREEN  Current
129   MASKUSDT  22.58100    0.064628  17.576095   8.788048  4.394024   4.6780
132    LITUSDT  18.82640    0.058425   5.234190   2.617095  1.308548   1.3850
88     RAYUSDT  17.80000    0.037671  11.841905   5.920952  2.960476   3.0720
198   RAMPUSDT   1.30000    0.025410   0.332448   0.166224  0.083112   0.0810
128  ALPHAUSDT   2.94325    0.025267   1.174886   0.587443  0.293721   0.2863
255   BONDUSDT  75.00000    0.015893  31.460000  15.730000  7.865000   7.9900
161   NANOUSDT  17.70000    0.013914   9.021524   4.510762  2.255381   2.2240
186   PERPUSDT  26.21000    0.006121  17.426667   8.713333  4.356667   4.3300
Low EASY Band
     Indicator       ATH  CLOSERATIO        RED     ORANGE     GREEN  Current
129   MASKUSDT  22.58100    0.064628  17.576095   8.788048  4.394024   4.6780
132    LITUSDT  18.82640    0.058425   5.234190   2.617095  1.308548   1.3850
88     RAYUSDT  17.80000    0.037671  11.841905   5.920952  2.960476   3.0720
198   RAMPUSDT   1.30000    0.025410   0.332448   0.166224  0.083112   0.0810
128  ALPHAUSDT   2.94325    0.025267   1.174886   0.587443  0.293721   0.2863
255   BONDUSDT  75.00000    0.015893  31.460000  15.730000  7.865000   7.9900
161   NANOUSDT  17.70000    0.013914   9.021524   4.510762  2.255381   2.2240
186   PERPUSDT  26.21000    0.006121  17.426667   8.713333  4.356667   4.3300
Empty DataFrame
Columns: [Indicator, ATH, CLOSERATIO, RED, ORANGE, GREEN, Current]
Index: []
Empty DataFrame
Columns: [Indicator, ATH, CLOSERATIO, RED, ORANGE, GREEN, Current]
Index: []

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [74]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
orangeband

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,ALLTIME,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,ORANGE,RED,CLOSERATIO
219,PAXUSDT,999.00000,0.938800,0.999600,NaN,NaN,NaN,NaN,NaN,NaN,...,0.100060,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.999510,1.999019,1.000181
121,OGNUSDT,3.39000,0.098900,0.639700,0.8530,0.253500,0.8530,0.23710,0.8530,0.237100,...,18.870206,74.994138,74.994138,74.994138,0.292305,0.676256,0.305293,0.610586,1.221171,1.095365
174,ACMUSDT,25.46000,3.348000,5.392000,7.1000,4.013000,7.1000,3.34800,7.4400,3.348000,...,21.178319,75.943662,75.943662,72.473118,2.324179,0.694470,2.641429,5.282857,10.565714,1.041320
35,ETCUSDT,179.83000,3.072600,43.780000,49.0000,25.000000,49.0000,21.69000,49.0000,21.200000,...,24.345215,89.346939,89.346939,89.346939,9.402418,0.792881,17.996905,35.993810,71.987619,1.432641
217,BTGUSDT,169.00000,24.780000,42.540000,48.5000,27.770000,48.5000,24.78000,49.0000,24.780000,...,25.171598,87.711340,87.711340,86.816327,NaN,NaN,20.314524,40.629048,81.258095,1.094068
243,GXSUSDT,5.70310,0.265600,1.602600,2.0300,1.349600,2.0300,1.20100,3.0381,1.133800,...,28.100507,78.945813,78.945813,52.750074,0.511374,1.490074,0.777419,1.554838,3.109676,1.061436
177,MBLUSDT,0.04338,0.000214,0.013911,0.0274,0.005606,0.0274,0.00452,0.0274,0.004516,...,32.067773,50.770073,50.770073,50.770073,0.001537,0.856788,0.004598,0.009196,0.018392,2.025524
190,TUSDUSDT,3.00000,0.465400,0.999600,1.0001,0.999200,1.0001,0.99920,1.0003,0.999200,...,33.320000,99.950005,99.950005,99.930021,0.000015,0.999985,0.499790,0.999581,1.999162,1.000038
83,RUNEUSDT,21.28000,0.322400,8.350000,9.5900,3.387000,9.5900,3.01500,9.5900,3.015000,...,39.238722,87.069864,87.069864,87.069864,1.415080,0.834194,3.559738,7.119476,14.238952,1.345678
215,TORNUSDT,98.43000,18.380000,42.720000,68.4000,35.770000,68.4000,18.38000,68.4000,18.380000,...,43.401402,62.456140,62.456140,62.456140,NaN,NaN,19.150714,38.301429,76.602857,1.230726
103,ZECUSDT,372.00000,17.130000,181.200000,188.0000,100.100000,188.0000,81.40000,188.0000,81.400000,...,48.709677,96.382979,96.382979,96.382979,1.786199,0.988456,76.473810,152.947619,305.895238,1.369439
31,FTTUSDT,85.74000,0.500000,45.350000,47.7300,38.520000,50.0800,31.18000,50.0800,31.180000,...,52.892466,95.013618,90.555112,90.555112,0.538722,0.988022,22.217857,44.435714,88.871429,1.041151
260,NEARUSDT,20.59700,0.524600,12.176000,12.4990,8.309000,14.0830,7.38500,20.5970,7.385000,...,59.115405,97.415793,86.458851,59.115405,3.784081,1.501265,5.666571,11.333143,22.666286,1.148742
74,NEARUSDT,20.59700,0.524600,12.177000,12.4990,8.309000,14.0830,7.38500,20.5970,7.385000,...,59.120260,97.423794,86.465952,59.120260,3.784110,1.501268,5.666595,11.333190,22.666381,1.148909
32,TWTUSDT,1.65000,0.169800,1.031900,1.5499,0.481900,1.5499,0.40380,1.5499,0.403800,...,62.539394,66.578489,66.578489,66.578489,0.032930,1.044631,0.385383,0.770767,1.541533,1.677594
151,KNCUSDT,4.36000,0.683000,3.157000,3.5200,1.822000,3.5200,1.28800,3.5200,1.184000,...,72.408257,89.687500,89.687500,89.687500,0.120792,0.939915,0.944786,1.889571,3.779143,2.341498
116,WAVESUSDT,41.86200,0.542900,31.760000,34.9000,11.090000,34.9000,7.56000,34.9000,7.560000,...,75.868329,91.002865,91.002865,91.002865,1.462586,0.923399,8.815476,17.630952,35.261905,2.602755
42,LUNAUSDT,104.83000,0.273300,94.600000,104.8300,70.440000,104.8300,43.44000,104.8300,43.440000,...,90.241343,90.241343,90.241343,90.241343,30.299994,1.780497,34.560714,69.121429,138.242857,1.737212
237,PAXGUSDT,2100.85000,1687.570000,1939.000000,2071.0000,1878.000000,2076.0000,1787.00000,2076.0000,1772.000000,...,92.295975,93.626268,93.400771,93.400771,34.040753,1.018669,928.714286,1857.428571,3714.857143,1.087833

In [75]:
#easybandlist = display['Indicator']
#easybandlist

In [76]:
save.to_csv("easyband.csv")
print(date.today)
save.to_csv("easyband"+str(date.today())+".csv")
save

<built-in method today of type object at 0x1102264d8>

     Indicator       ATH  CLOSERATIO        RED     ORANGE     GREEN  Current
129   MASKUSDT  22.58100    0.064628  17.576095   8.788048  4.394024   4.6780
132    LITUSDT  18.82640    0.058425   5.234190   2.617095  1.308548   1.3850
88     RAYUSDT  17.80000    0.037671  11.841905   5.920952  2.960476   3.0720
198   RAMPUSDT   1.30000    0.025410   0.332448   0.166224  0.083112   0.0810
128  ALPHAUSDT   2.94325    0.025267   1.174886   0.587443  0.293721   0.2863
255   BONDUSDT  75.00000    0.015893  31.460000  15.730000  7.865000   7.9900
161   NANOUSDT  17.70000    0.013914   9.021524   4.510762  2.255381   2.2240
186   PERPUSDT  26.21000    0.006121  17.426667   8.713333  4.356667   4.3300

In [77]:
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio
129,MASKUSDT,22.58100,0.064628,17.576095,8.788048,4.394024,4.6780,1.878591
132,LITUSDT,18.82640,0.058425,5.234190,2.617095,1.308548,1.3850,1.889599
88,RAYUSDT,17.80000,0.037671,11.841905,5.920952,2.960476,3.0720,1.927393
198,RAMPUSDT,1.30000,0.025410,0.332448,0.166224,0.083112,0.0810,2.052146
128,ALPHAUSDT,2.94325,0.025267,1.174886,0.587443,0.293721,0.2863,2.051844
255,BONDUSDT,75.00000,0.015893,31.460000,15.730000,7.865000,7.9900,1.968711
161,NANOUSDT,17.70000,0.013914,9.021524,4.510762,2.255381,2.2240,2.028220
186,PERPUSDT,26.21000,0.006121,17.426667,8.713333,4.356667,4.3300,2.012317

# entries

In [78]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.3174],['REEFUSDT',0.00806],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',5],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',5.616],['RAYUSDT',2.5],['ROSEUSDT',0.24055],['MOVRUSDT',51.6],['TFUELUSDT',0.22],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.13171],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.24794],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.015],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.62']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',999],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',244],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325]]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
entries.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP
30,RAYUSDT,2.5,100.0,17.8,0.037671,11.841905,5.920952,2.960476,3.072,1.927393,-22.88

In [79]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [80]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
30,RAYUSDT,2.5,100.0,17.8,0.037671,11.841905,5.920952,2.960476,3.072,1.927393,-22.88,1.927393,3.854787,5.794271

In [81]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
30,RAYUSDT,2.5,100.0,17.8,0.037671,11.841905,5.920952,2.960476,3.072,1.927393,-22.88,1.927393,3.854787,5.794271,-4409.875992

In [82]:
exposuredrop.to_csv("exposuredrop.csv")

In [83]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,RAYUSDT,2.5,100.0,17.8,0.037671,11.841905,5.920952,2.960476,3.072,1.927393,-22.88,1.927393,3.854787,5.794271,-4409.875992,NaN,NaN

In [84]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, CLOSERATIO, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []