Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [21]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [22]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT, ALGO/USDT, MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [23]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [24]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
158,SUNUSDT,54.560,0.01066,0.01386,0.02039,0.0135,0.02039,0.01105,0.02039,0.01066,...,67.974497,67.974497,67.974497,4.834820,0.003450,0.008370,0.011160,0.016740,0.033479,0.655961
219,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.68000,15.49000,23.52000,15.2600,23.52000,15.26000,24.68000,14.68000,...,65.858844,65.858844,62.763371,NaN,NaN,10.741429,14.321905,21.482857,42.965714,0.442080
101,EPSUSDT,22.500,0.14180,0.19870,0.30580,0.1855,0.30580,0.14800,0.30580,0.14180,...,64.977109,64.977109,64.977109,0.389922,0.350844,0.105369,0.140492,0.210738,0.421476,0.885753
225,BTCSTUSDT,1000.000,8.00000,14.94000,22.73000,14.9100,26.50000,13.25000,26.50000,12.21000,...,65.728113,56.377358,56.377358,9.204104,0.661113,8.977857,11.970476,17.955714,35.911429,0.664094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,TWTUSDT,1.650,0.16980,1.10720,1.38700,0.9940,1.54990,0.48190,1.54990,0.40380,...,79.826965,71.436867,71.436867,0.018143,1.022934,0.404638,0.539517,0.809276,1.618552,1.736272
74,NEARUSDT,20.597,0.52460,13.98000,19.78800,12.5050,19.78800,8.30900,19.78800,7.38500,...,70.648878,70.648878,70.648878,4.387952,1.521926,6.397595,8.530127,12.795190,25.590381,1.185196
42,LUNAUSDT,119.550,0.27330,89.91000,119.55000,75.6700,119.55000,70.44000,119.55000,43.44000,...,75.207026,75.207026,75.207026,32.984983,1.723494,39.288095,52.384127,78.576190,157.152381,1.288479
237,PAXGUSDT,2100.850,1687.57000,1922.00000,1999.00000,1892.0000,2071.00000,1878.00000,2076.00000,1790.00000,...,96.148074,92.805408,92.581888,45.249939,1.024573,943.333333,1257.777778,1886.666667,3773.333333,1.037456
151,KNCUSDT,5.346,0.68300,5.01200,5.34600,2.8370,5.34600,1.82200,5.34600,1.51600,...,93.752338,93.752338,93.752338,0.341104,1.159979,1.236643,1.648857,2.473286,4.946571,3.052908

In [25]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='WAXPUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
138,WAXPUSDT,0.9835,0.1852,0.2608,0.395,0.2518,0.395,0.2518,0.395,0.2417,...,66.025316,66.025316,66.025316,NaN,NaN,0.175674,0.234232,0.351348,0.702695,0.48457

In [26]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-04-25
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      Indicator       ATH         RED     ORANGE      GREEN   Current
12      AXSUSDT  166.0900  128.572381  64.286190  32.143095  42.43000
197  BURGERUSDT   29.0000    3.927429   1.963714   0.981857   1.29600
186    PERPUSDT   26.2100   12.562857   6.281429   3.140714   4.14000
255    BONDUSDT   75.0000   21.910476  10.955238   5.477619   7.16000
166     CLVUSDT    2.4850    0.938571   0.469286   0.234643   0.30600
213    POLSUSDT    5.2700    3.659524   1.829762   0.914881   1.19200
45      TLMUSDT    5.9500    0.275600   0.137800   0.068900   0.08970
111    DODOUSDT   10.0000    1.137810   0.568905   0.284452   0.37000
140     HNTUSDT   59.2700   52.490476  26.245238  13.122619  16.78000
88      RAYUSDT   17.8000    8.170476   4.085238   2.042619   2.60700
145     RSRUSDT    0.1190    0.038739   0.019370   0.009685   0.01216
221    DUSKUSDT    1.1743    0.964048   0.482024   0.241012   0.29670
20      FTMUSDT    3.4842    3.468143   1.734071   0.867036   1.02750
117     ONEUSDT    0.3800    0.369810   0.184905   0.092452   0.10847
170    PONDUSDT    0.3180    0.088400   0.044200   0.022100   0.02537
129    MASKUSDT   22.5810   13.512857   6.756429   3.378214   3.86800
161    NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400

In [27]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

     Indicator          RED       ORANGE       GREEN     Current
158    SUNUSDT     0.033479     0.016740    0.008370     0.01386
219    PAXUSDT     1.999019     0.999510    0.499755     0.99960
21     ICPUSDT    42.965714    21.482857   10.741429    15.49000
101    EPSUSDT     0.421476     0.210738    0.105369     0.19870
225  BTCSTUSDT    35.911429    17.955714    8.977857    14.94000
..         ...          ...          ...         ...         ...
32     TWTUSDT     1.618552     0.809276    0.404638     1.10720
74    NEARUSDT    25.590381    12.795190    6.397595    13.98000
42    LUNAUSDT   157.152381    78.576190   39.288095    89.91000
237   PAXGUSDT  3773.333333  1886.666667  943.333333  1922.00000
151    KNCUSDT     4.946571     2.473286    1.236643     5.01200

[260 rows x 5 columns]

In [28]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
151,KNCUSDT,5.346,0.683,5.012,5.346,2.837,5.346,1.822,5.346,1.516,...,93.752338,93.752338,93.752338,0.341104,1.159979,1.236643,1.648857,2.473286,4.946571,3.052908

In [29]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

      Indicator       GREEN       ORANGE          RED      Current
219     PAXUSDT    0.499755     0.999510     1.999019     0.999600
163  PUNDIXUSDT    0.443143     0.886286     1.772571     0.890000
185      OMUSDT    0.053293     0.106586     0.213171     0.113900
109     SKLUSDT    0.082431     0.164862     0.329724     0.171900
121     OGNUSDT    0.255007     0.510014     1.020029     0.575800
254    DREPUSDT    0.409017     0.818033     1.636067     0.880800
108     SNXUSDT    2.564500     5.129000    10.258000     5.434000
131     DNTUSDT    0.051640     0.103281     0.206562     0.105400
177     MBLUSDT    0.004535     0.009070     0.018139     0.009108
149     MFTUSDT    0.003972     0.007945     0.015890     0.008173
179     MTLUSDT    0.947976     1.895952     3.791905     2.567000
178     JSTUSDT    0.028414     0.056828     0.113655     0.063180
243     GXSUSDT    0.853738     1.707476     3.414952     1.792300
143     ZRXUSDT    0.344629     0.689257     1.378514     0.759900
208  ALPACAUSDT    0.242064     0.484129     0.968257     0.567300
29     IOSTUSDT    0.014260     0.028521     0.057042     0.028960
190    TUSDUSDT    0.499848     0.999695     1.999390     0.999900
83     RUNEUSDT    3.290548     6.581095    13.162190     7.643000
92      ZILUSDT    0.035592     0.071183     0.142367     0.101650
103     ZECUSDT   71.861905   143.723810   287.447619   157.300000
122     XMRUSDT   98.890476   197.780952   395.561905   251.000000
215    TORNUSDT   18.760238    37.520476    75.040952    47.950000
119    KAVAUSDT    1.977619     3.955238     7.910476     5.077000
32      TWTUSDT    0.404638     0.809276     1.618552     1.107200
74     NEARUSDT    6.397595    12.795190    25.590381    13.980000
42     LUNAUSDT   39.288095    78.576190   157.152381    89.910000
237    PAXGUSDT  943.333333  1886.666667  3773.333333  1922.000000
151     KNCUSDT    1.236643     2.473286     4.946571     5.012000

In [30]:
#easybandlist = display['Indicator']
#easybandlist

In [31]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,RED,ORANGE,GREEN,Current,ORatio
12,AXSUSDT,166.0900,128.572381,64.286190,32.143095,42.43000,1.515112
197,BURGERUSDT,29.0000,3.927429,1.963714,0.981857,1.29600,1.515212
186,PERPUSDT,26.2100,12.562857,6.281429,3.140714,4.14000,1.517253
255,BONDUSDT,75.0000,21.910476,10.955238,5.477619,7.16000,1.530061
166,CLVUSDT,2.4850,0.938571,0.469286,0.234643,0.30600,1.533613
213,POLSUSDT,5.2700,3.659524,1.829762,0.914881,1.19200,1.535035
45,TLMUSDT,5.9500,0.275600,0.137800,0.068900,0.08970,1.536232
111,DODOUSDT,10.0000,1.137810,0.568905,0.284452,0.37000,1.537580
140,HNTUSDT,59.2700,52.490476,26.245238,13.122619,16.78000,1.564079
88,RAYUSDT,17.8000,8.170476,4.085238,2.042619,2.60700,1.567027
145,RSRUSDT,0.1190,0.038739,0.019370,0.009685,0.01216,1.592888
221,DUSKUSDT,1.1743,0.964048,0.482024,0.241012,0.29670,1.624617
20,FTMUSDT,3.4842,3.468143,1.734071,0.867036,1.02750,1.687661
117,ONEUSDT,0.3800,0.369810,0.184905,0.092452,0.10847,1.704663
170,PONDUSDT,0.3180,0.088400,0.044200,0.022100,0.02537,1.742215
129,MASKUSDT,22.5810,13.512857,6.756429,3.378214,3.86800,1.746750
161,NANOUSDT,17.7000,9.021524,4.510762,2.255381,2.22400,2.028220

# entries

In [32]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.3174],['REEFUSDT',0.00806],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',5],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',18.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',4.3],['RAYUSDT',2.5],['ROSEUSDT',0.24055],['MOVRUSDT',51.6],['TFUELUSDT',0.18],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.11918],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.24794],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.62'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','2.5'],['BTCUSDT','39000'],['ADAUSDT','1'],['STORJUSDT','1.30'],['THETAUSDT','3']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
23,HNTUSDT,18.90000,1250.0,59.2700,52.490476,26.245238,13.122619,16.78000,1.564079,11.216931
49,FTMUSDT,1.15000,2000.0,3.4842,3.468143,1.734071,0.867036,1.02750,1.687661,10.652174
36,ONEUSDT,0.11918,1000.0,0.3800,0.369810,0.184905,0.092452,0.10847,1.704663,8.986407
30,RAYUSDT,2.50000,100.0,17.8000,8.170476,4.085238,2.042619,2.60700,1.567027,-4.280000

# Red Band

In [33]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

  Indicator     GREEN    ORANGE       RED  Current
0   KNCUSDT  1.236643  2.473286  4.946571    5.012

# Orange Band

In [34]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator      GREEN     ORANGE         RED   Current
9    ZRXUSDT   0.344629   0.689257    1.378514   0.75990
12  NEARUSDT   6.397595  12.795190   25.590381  13.98000
38  RUNEUSDT   3.290548   6.581095   13.162190   7.64300
45   ZILUSDT   0.035592   0.071183    0.142367   0.10165
55  LUNAUSDT  39.288095  78.576190  157.152381  89.91000

In [35]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [36]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
23,HNTUSDT,18.90000,1250.0,59.2700,52.490476,26.245238,13.122619,16.78000,1.564079,11.216931,1.564079,3.128157,3.532181
49,FTMUSDT,1.15000,2000.0,3.4842,3.468143,1.734071,0.867036,1.02750,1.687661,10.652174,1.687661,3.375322,3.390949
36,ONEUSDT,0.11918,1000.0,0.3800,0.369810,0.184905,0.092452,0.10847,1.704663,8.986407,1.704663,3.409325,3.503273
30,RAYUSDT,2.50000,100.0,17.8000,8.170476,4.085238,2.042619,2.60700,1.567027,-4.280000,1.567027,3.134053,6.827771

In [37]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
23,HNTUSDT,18.90000,1250.0,59.2700,52.490476,26.245238,13.122619,16.78000,1.564079,11.216931,1.564079,3.128157,3.532181,21930.201913
49,FTMUSDT,1.15000,2000.0,3.4842,3.468143,1.734071,0.867036,1.02750,1.687661,10.652174,1.687661,3.375322,3.390949,35954.511795
36,ONEUSDT,0.11918,1000.0,0.3800,0.369810,0.184905,0.092452,0.10847,1.704663,8.986407,1.704663,3.409325,3.503273,15318.792920
30,RAYUSDT,2.50000,100.0,17.8000,8.170476,4.085238,2.042619,2.60700,1.567027,-4.280000,1.567027,3.134053,6.827771,-670.687344

In [38]:
exposuredrop.to_csv("exposuredrop.csv")

In [39]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,FTMUSDT,1.15000,2000.0,3.4842,3.468143,1.734071,0.867036,1.02750,1.687661,10.652174,1.687661,3.375322,3.390949,35954.511795,0.800363,0.800363
0,HNTUSDT,18.90000,1250.0,59.2700,52.490476,26.245238,13.122619,16.78000,1.564079,11.216931,1.564079,3.128157,3.532181,21930.201913,NaN,NaN
2,ONEUSDT,0.11918,1000.0,0.3800,0.369810,0.184905,0.092452,0.10847,1.704663,8.986407,1.704663,3.409325,3.503273,15318.792920,0.898427,0.898427
3,RAYUSDT,2.50000,100.0,17.8000,8.170476,4.085238,2.042619,2.60700,1.567027,-4.280000,1.567027,3.134053,6.827771,-670.687344,NaN,NaN

In [40]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []