Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [153]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [154]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [155]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [156]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.560,0.01066,0.01279,0.01736,0.01153,0.02039,0.01106,0.02039,0.01066,...,73.675115,62.726827,62.726827,4.045062,0.003933,0.007987,0.010649,0.015973,0.031947,0.601419
218,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,11.28000,12.20000,17.91000,11.28000,23.52000,11.28000,23.52000,11.28000,...,68.118370,51.870748,51.870748,NaN,NaN,10.295714,13.727619,20.591429,41.182857,0.184959
100,EPSUSDT,22.500,0.14180,0.18180,0.30580,0.15000,0.30580,0.14800,0.30580,0.14180,...,59.450621,59.450621,59.450621,0.355415,0.363778,0.101610,0.135479,0.203219,0.406438,0.789202
45,TLMUSDT,5.950,0.06620,0.06900,0.10670,0.06620,0.14830,0.06620,0.14830,0.06620,...,64.667291,46.527310,46.527310,0.082140,0.610766,0.064445,0.085927,0.128890,0.257781,0.070676
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,ETHUSDT,4868.000,86.00000,2561.28000,3213.63000,2484.00000,3580.34000,2484.00000,3580.34000,2300.00000,...,79.700526,71.537340,71.537340,110.835558,0.964836,1520.582857,2027.443810,3041.165714,6082.331429,0.684407
74,NEARUSDT,20.597,0.52460,10.89400,17.82000,9.85000,19.78800,9.60800,19.78800,7.38500,...,61.133558,55.053568,55.053568,4.235827,1.499941,6.354238,8.472317,12.708476,25.416952,0.714446
235,GHSTUSDT,3.400,1.50800,1.80900,1.99700,1.80100,2.19900,1.80100,2.19900,1.80100,...,90.585879,82.264666,82.264666,NaN,NaN,1.019619,1.359492,2.039238,4.078476,0.774192
42,LUNAUSDT,119.550,0.27330,66.31000,99.43000,59.40000,119.55000,59.40000,119.55000,47.29000,...,66.690134,55.466332,55.466332,32.002776,1.689509,39.208333,52.277778,78.416667,156.833333,0.691222
236,PAXGUSDT,2100.850,1687.57000,1886.00000,1999.00000,1851.00000,1999.00000,1851.00000,2076.00000,1845.00000,...,94.347174,94.347174,90.847784,48.042104,1.026072,945.357143,1260.476190,1890.714286,3781.428571,0.995013

In [157]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='ENJUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
103,ENJUSDT,4.845,0.03223,0.974,1.673,0.939,1.973,0.939,2.014,0.939,...,58.218769,49.366447,48.36147,0.076121,0.959194,0.894667,1.192889,1.789333,3.578667,0.088674

In [158]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-05-08
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      Indicator         ATH          RED       ORANGE        GREEN     Current
229    IRISUSDT     0.32000     0.137108     0.068554     0.034277     0.03807
6      IRISUSDT     0.32000     0.137108     0.068554     0.034277     0.03807
197    RAMPUSDT     1.30000     0.227933     0.113967     0.056983     0.06300
232    WINGUSDT   300.00000    20.698095    10.349048     5.174524     5.71000
181     ORNUSDT    29.85000     7.914571     3.957286     1.978643     2.17300
4       ORNUSDT    29.85000     7.914571     3.957286     1.978643     2.17300
163     TVKUSDT     0.55000     0.266552     0.133276     0.066638     0.07310
140    YFIIUSDT  9865.00000  4353.238095  2176.619048  1088.309524  1191.00000
87       ARUSDT    91.08000    74.338095    37.169048    18.584524    20.33000
37     SANDUSDT     8.48760     7.361800     3.680900     1.840450     2.01300
158    AKROUSDT     0.08850     0.028842     0.014421     0.007210     0.00788
63     MBOXUSDT    15.73400     6.241714     3.120857     1.560429     1.70500
139     HNTUSDT    59.27000    50.675238    25.337619    12.668810    13.83000
103     ENJUSDT     4.84500     3.578667     1.789333     0.894667     0.97400
196  BURGERUSDT    29.00000     3.697238     1.848619     0.924310     1.00500
94     ROSEUSDT     0.59800     0.569698     0.284849     0.142425     0.15416
137    WAXPUSDT     0.98350     0.665876     0.332938     0.166469     0.18010
225    KLAYUSDT     4.40000     2.279238     1.139619     0.569810     0.61400
45      TLMUSDT     5.95000     0.257781     0.128890     0.064445     0.06900
187     STXUSDT     3.25600     2.969333     1.484667     0.742333     0.79100
240    PERLUSDT     0.29632     0.106453     0.053227     0.026613     0.02820
204   TRIBEUSDT     1.52090     1.357295     0.678648     0.339324     0.35680
85     MANAUSDT     5.90000     5.164695     2.582348     1.291174     1.35310
171     ANTUSDT    43.00000    11.842286     5.921143     2.960571     3.05700
110    DODOUSDT    10.00000     1.070095     0.535048     0.267524     0.27600
12      AXSUSDT   166.09000   120.524762    60.262381    30.131190    30.28000
88      RAYUSDT    17.80000     7.551429     3.775714     1.887857     1.89300
254    BONDUSDT    75.00000    20.637143    10.318571     5.159286     5.14000
160    NANOUSDT    17.70000     9.021524     4.510762     2.255381     2.22400
52    SUSHIUSDT    23.43000     8.788381     4.394190     2.197095     2.15100
221     WTCUSDT     2.92420     1.134533     0.567267     0.283633     0.27080
220    DUSKUSDT     1.17430     0.938419     0.469210     0.234605     0.21800
144     RSRUSDT     0.11900     0.035954     0.017977     0.008989     0.00819
169    PONDUSDT     0.31800     0.082784     0.041392     0.020696     0.01720
20      FTMUSDT     3.48420     3.368886     1.684443     0.842221     0.68910
116     ONEUSDT     0.38000     0.356523     0.178261     0.089131     0.07274
185    PERPUSDT    26.21000    11.800000     5.900000     2.950000     2.24000

In [159]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

    Indicator          RED       ORANGE        GREEN     Current
157   SUNUSDT     0.031947     0.015973     0.007987     0.01279
218   PAXUSDT     1.999019     0.999510     0.499755     0.99960
21    ICPUSDT    41.182857    20.591429    10.295714    12.20000
100   EPSUSDT     0.406438     0.203219     0.101610     0.18180
45    TLMUSDT     0.257781     0.128890     0.064445     0.06900
..        ...          ...          ...          ...         ...
11    ETHUSDT  6082.331429  3041.165714  1520.582857  2561.28000
74   NEARUSDT    25.416952    12.708476     6.354238    10.89400
235  GHSTUSDT     4.078476     2.039238     1.019619     1.80900
42   LUNAUSDT   156.833333    78.416667    39.208333    66.31000
236  PAXGUSDT  3781.428571  1890.714286   945.357143  1886.00000

[259 rows x 5 columns]

In [160]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [161]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

    Indicator      GREEN      ORANGE         RED    Current
218   PAXUSDT   0.499755    0.999510    1.999019    0.99960
173   ACMUSDT   2.570619    5.141238   10.282476    5.60600
92    ZILUSDT   0.035221    0.070443    0.140886    0.07825
242   GXSUSDT   0.853738    1.707476    3.414952    1.79230
177   JSTUSDT   0.028363    0.056726    0.113451    0.06438
189  TUSDUSDT   0.499874    0.999748    1.999495    1.00040
121   XMRUSDT  98.476190  196.952381  393.904762  219.60000
44    TRXUSDT   0.033586    0.067171    0.134343    0.08861
32    TWTUSDT   0.402838    0.805676    1.611352    0.85460
214  TORNUSDT  19.165714   38.331429   76.662857   51.37000

In [162]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [163]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
display = display.loc[display.Current < display.GREEN*1.05]

#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

     Indicator       ATH         RED     ORANGE      GREEN   Current    ORatio
85    MANAUSDT    5.9000    5.164695   2.582348   1.291174   1.35310  1.908468
171    ANTUSDT   43.0000   11.842286   5.921143   2.960571   3.05700  1.936913
110   DODOUSDT   10.0000    1.070095   0.535048   0.267524   0.27600  1.938578
12     AXSUSDT  166.0900  120.524762  60.262381  30.131190  30.28000  1.990171
88     RAYUSDT   17.8000    7.551429   3.775714   1.887857   1.89300  1.994566
254   BONDUSDT   75.0000   20.637143  10.318571   5.159286   5.14000  2.007504
160   NANOUSDT   17.7000    9.021524   4.510762   2.255381   2.22400  2.028220
52   SUSHIUSDT   23.4300    8.788381   4.394190   2.197095   2.15100  2.042859
221    WTCUSDT    2.9242    1.134533   0.567267   0.283633   0.27080  2.094781
220   DUSKUSDT    1.1743    0.938419   0.469210   0.234605   0.21800  2.152337
144    RSRUSDT    0.1190    0.035954   0.017977   0.008989   0.00819  2.195011
169   PONDUSDT    0.3180    0.082784   0.041392   0.020696   0.01720  2.406506
20     FTMUSDT    3.4842    3.368886   1.684443   0.842221   0.68910  2.444410
116    ONEUSDT    0.3800    0.356523   0.178261   0.089131   0.07274  2.450666
185   PERPUSDT   26.2100   11.800000   5.900000   2.950000   2.24000  2.633929

# entries

In [164]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',12],['ARUSDT',23],['ATOMUSDT',18],['MIRUSDT',2.343],['ALGOUSDT',0.63],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',115],['NEARUSDT',10.320],['WINUSDT',0.00025],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',3.7],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',13.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.18],['MOVRUSDT',33.7],['TFUELUSDT',0.16],['GLMRUSDT',2.311],['COTIUSDT',0.2],['ONEUSDT',0.08],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',15],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',0.72],['BANDUSDT',3.6],['1INCHUSDT',1.3],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','2.8'],['MANAUSDT','1.65'],['PAXGUSDT','1785'],['INJUSDT','5'],['PERPUSDT','2.22']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
20,SUSHIUSDT,3.50,2730.0,23.4300,8.788381,4.394190,2.197095,2.15100,2.042859,38.542857
30,RAYUSDT,2.50,100.0,17.8000,7.551429,3.775714,1.887857,1.89300,1.994566,24.280000
29,ANTUSDT,3.80,200.0,43.0000,11.842286,5.921143,2.960571,3.05700,1.936913,19.552632
62,MANAUSDT,1.65,NaN,5.9000,5.164695,2.582348,1.291174,1.35310,1.908468,17.993939
36,ONEUSDT,0.08,1000.0,0.3800,0.356523,0.178261,0.089131,0.07274,2.450666,9.075000
49,FTMUSDT,0.72,2000.0,3.4842,3.368886,1.684443,0.842221,0.68910,2.444410,4.291667
65,PERPUSDT,2.22,NaN,26.2100,11.800000,5.900000,2.950000,2.24000,2.633929,-0.900901

# Red Band

In [165]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [166]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator     GREEN    ORANGE       RED  Current
45   ZILUSDT  0.035221  0.070443  0.140886  0.07825

In [167]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [168]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
20,SUSHIUSDT,3.50,2730.0,23.4300,8.788381,4.394190,2.197095,2.15100,2.042859,38.542857,2.042859,4.085719,10.892608
30,RAYUSDT,2.50,100.0,17.8000,7.551429,3.775714,1.887857,1.89300,1.994566,24.280000,1.994566,3.989133,9.403064
29,ANTUSDT,3.80,200.0,43.0000,11.842286,5.921143,2.960571,3.05700,1.936913,19.552632,1.936913,3.873826,14.066078
62,MANAUSDT,1.65,NaN,5.9000,5.164695,2.582348,1.291174,1.35310,1.908468,17.993939,1.908468,3.816935,4.360358
36,ONEUSDT,0.08,1000.0,0.3800,0.356523,0.178261,0.089131,0.07274,2.450666,9.075000,2.450666,4.901332,5.224086
49,FTMUSDT,0.72,2000.0,3.4842,3.368886,1.684443,0.842221,0.68910,2.444410,4.291667,2.444410,4.888820,5.056160
65,PERPUSDT,2.22,NaN,26.2100,11.800000,5.900000,2.950000,2.24000,2.633929,-0.900901,2.633929,5.267857,11.700893

In [169]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
20,SUSHIUSDT,3.50,2730.0,23.4300,8.788381,4.394190,2.197095,2.15100,2.042859,38.542857,2.042859,4.085719,10.892608,214953.747227
30,RAYUSDT,2.50,100.0,17.8000,7.551429,3.775714,1.887857,1.89300,1.994566,24.280000,1.994566,3.989133,9.403064,4842.807335
29,ANTUSDT,3.80,200.0,43.0000,11.842286,5.921143,2.960571,3.05700,1.936913,19.552632,1.936913,3.873826,14.066078,7574.349023
62,MANAUSDT,1.65,NaN,5.9000,5.164695,2.582348,1.291174,1.35310,1.908468,17.993939,1.908468,3.816935,4.360358,NaN
36,ONEUSDT,0.08,1000.0,0.3800,0.356523,0.178261,0.089131,0.07274,2.450666,9.075000,2.450666,4.901332,5.224086,22239.791920
49,FTMUSDT,0.72,2000.0,3.4842,3.368886,1.684443,0.842221,0.68910,2.444410,4.291667,2.444410,4.888820,5.056160,20981.184913
65,PERPUSDT,2.22,NaN,26.2100,11.800000,5.900000,2.950000,2.24000,2.633929,-0.900901,2.633929,5.267857,11.700893,NaN

In [170]:
exposuredrop.to_csv("exposuredrop.csv")

In [171]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,SUSHIUSDT,3.50,2730.0,23.4300,8.788381,4.394190,2.197095,2.15100,2.042859,38.542857,2.042859,4.085719,10.892608,214953.747227,0.771157,0.771157
4,ONEUSDT,0.08,1000.0,0.3800,0.356523,0.178261,0.089131,0.07274,2.450666,9.075000,2.450666,4.901332,5.224086,22239.791920,0.898427,0.898427
5,FTMUSDT,0.72,2000.0,3.4842,3.368886,1.684443,0.842221,0.68910,2.444410,4.291667,2.444410,4.888820,5.056160,20981.184913,0.800363,0.800363
2,ANTUSDT,3.80,200.0,43.0000,11.842286,5.921143,2.960571,3.05700,1.936913,19.552632,1.936913,3.873826,14.066078,7574.349023,NaN,NaN
1,RAYUSDT,2.50,100.0,17.8000,7.551429,3.775714,1.887857,1.89300,1.994566,24.280000,1.994566,3.989133,9.403064,4842.807335,NaN,NaN
3,MANAUSDT,1.65,NaN,5.9000,5.164695,2.582348,1.291174,1.35310,1.908468,17.993939,1.908468,3.816935,4.360358,NaN,0.688859,0.688859
6,PERPUSDT,2.22,NaN,26.2100,11.800000,5.900000,2.950000,2.24000,2.633929,-0.900901,2.633929,5.267857,11.700893,NaN,NaN,NaN

In [172]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,SUSHIUSDT,3.50,2730.0,23.4300,8.788381,4.394190,2.197095,2.15100,2.042859,38.542857,2.042859,4.085719,10.892608,214953.747227,0.771157,0.771157
4,ONEUSDT,0.08,1000.0,0.3800,0.356523,0.178261,0.089131,0.07274,2.450666,9.075000,2.450666,4.901332,5.224086,22239.791920,0.898427,0.898427
5,FTMUSDT,0.72,2000.0,3.4842,3.368886,1.684443,0.842221,0.68910,2.444410,4.291667,2.444410,4.888820,5.056160,20981.184913,0.800363,0.800363
6,PERPUSDT,2.22,NaN,26.2100,11.800000,5.900000,2.950000,2.24000,2.633929,-0.900901,2.633929,5.267857,11.700893,NaN,NaN,NaN