Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [101]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [102]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [103]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [104]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.560,0.01066,0.01406,0.01838,0.01316,0.02039,0.01105,0.02039,0.01066,...,76.496192,68.955370,68.955370,4.834814,0.003452,0.008375,0.011166,0.016749,0.033498,0.678901
218,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.53000,15.43000,23.52000,14.53000,23.52000,14.53000,24.68000,14.53000,...,65.603741,65.603741,62.520259,NaN,NaN,10.740000,14.320000,21.480000,42.960000,0.436685
100,EPSUSDT,22.500,0.14180,0.20680,0.30580,0.18730,0.30580,0.14800,0.30580,0.14180,...,67.625899,67.625899,67.625899,0.389683,0.351400,0.105562,0.140749,0.211124,0.422248,0.959040
224,BTCSTUSDT,1000.000,8.00000,14.73000,20.80000,14.01000,22.73000,13.96000,26.50000,12.21000,...,70.817308,64.804223,55.584906,9.210286,0.660838,8.972857,11.963810,17.945714,35.891429,0.641618
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NEARUSDT,20.597,0.52460,13.09000,19.78800,12.36200,19.78800,9.32100,19.78800,7.38500,...,66.151203,66.151203,66.151203,4.361753,1.519810,6.376405,8.501873,12.752810,25.505619,1.052881
32,TWTUSDT,1.650,0.16980,1.11000,1.35900,0.99400,1.54990,0.61250,1.54990,0.40380,...,81.677704,71.617524,71.617524,0.018226,1.023036,0.404705,0.539606,0.809410,1.618819,1.742740
42,LUNAUSDT,119.550,0.27330,91.78000,119.55000,75.67000,119.55000,75.58000,119.55000,43.44000,...,76.771225,76.771225,76.771225,33.040031,1.724162,39.332619,52.443492,78.665238,157.330476,1.333432
236,PAXGUSDT,2100.850,1687.57000,1896.00000,1999.00000,1880.00000,2071.00000,1880.00000,2076.00000,1790.00000,...,94.847424,91.549976,91.329480,44.484571,1.024164,942.714286,1256.952381,1885.428571,3770.857143,1.011214
150,KNCUSDT,5.770,0.68300,5.27100,5.77000,2.83700,5.77000,2.21600,5.77000,1.51600,...,91.351820,91.351820,91.351820,0.348728,1.163194,1.242810,1.657079,2.485619,4.971238,3.241197

In [105]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='MANAUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
85,MANAUSDT,5.9,0.03,1.8522,2.746,1.7751,2.846,1.7751,3.5497,1.7751,...,67.450838,65.080815,52.179057,0.849166,1.457317,1.353005,1.804006,2.70601,5.412019,0.368953

In [106]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-04-28
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      Indicator        ATH         RED     ORANGE      GREEN   Current
9      ALGOUSDT    2.99000    2.037638   1.018819   0.509410   0.67830
203     CKBUSDT    0.04447    0.030295   0.015148   0.007574   0.01005
138    CTSIUSDT    1.75000    0.948476   0.474238   0.237119   0.31430
37     SANDUSDT    8.48760    7.729210   3.864605   1.932302   2.55750
52    SUSHIUSDT   23.43000    9.176381   4.588190   2.294095   3.03500
212    POLSUSDT    5.27000    3.660667   1.830333   0.915167   1.20400
110    DODOUSDT   10.00000    1.138190   0.569095   0.284548   0.37400
165     CLVUSDT    2.48500    0.938762   0.469381   0.234690   0.30800
45      TLMUSDT    5.95000    0.275629   0.137814   0.068907   0.09000
171     ANTUSDT   43.00000   12.026857   6.013429   3.006714   3.91200
196  BURGERUSDT   29.00000    3.925524   1.962762   0.981381   1.27600
254    BONDUSDT   75.00000   21.882857  10.941429   5.470714   6.87000
139     HNTUSDT   59.27000   52.435238  26.217619  13.108810  16.20000
12      AXSUSDT  166.09000  128.292381  64.146190  32.073095  39.49000
88      RAYUSDT   17.80000    8.160571   4.080286   2.040143   2.50300
185    PERPUSDT   26.21000   12.527619   6.263810   3.131905   3.77000
220    DUSKUSDT    1.17430    0.963352   0.481676   0.240838   0.28940
144     RSRUSDT    0.11900    0.038684   0.019342   0.009671   0.01158
20      FTMUSDT    3.48420    3.467076   1.733538   0.866769   1.01630
116     ONEUSDT    0.38000    0.369398   0.184699   0.092350   0.10415
169    PONDUSDT    0.31800    0.088322   0.044161   0.022080   0.02455
160    NANOUSDT   17.70000    9.021524   4.510762   2.255381   2.22400

In [107]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

     Indicator          RED       ORANGE       GREEN     Current
157    SUNUSDT     0.033498     0.016749    0.008375     0.01406
218    PAXUSDT     1.999019     0.999510    0.499755     0.99960
21     ICPUSDT    42.960000    21.480000   10.740000    15.43000
100    EPSUSDT     0.422248     0.211124    0.105562     0.20680
224  BTCSTUSDT    35.891429    17.945714    8.972857    14.73000
..         ...          ...          ...         ...         ...
74    NEARUSDT    25.505619    12.752810    6.376405    13.09000
32     TWTUSDT     1.618819     0.809410    0.404705     1.11000
42    LUNAUSDT   157.330476    78.665238   39.332619    91.78000
236   PAXGUSDT  3770.857143  1885.428571  942.714286  1896.00000
150    KNCUSDT     4.971238     2.485619    1.242810     5.27100

[259 rows x 5 columns]

In [108]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
150,KNCUSDT,5.77,0.683,5.271,5.77,2.837,5.77,2.216,5.77,1.516,...,91.35182,91.35182,91.35182,0.348728,1.163194,1.24281,1.657079,2.485619,4.971238,3.241197

In [109]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

      Indicator       GREEN       ORANGE          RED      Current
218     PAXUSDT    0.499755     0.999510     1.999019     0.999600
108     SKLUSDT    0.082826     0.165652     0.331305     0.188500
120     OGNUSDT    0.254007     0.508014     1.016029     0.533800
211     LSKUSDT    1.035762     2.071524     4.143048     2.072000
253    DREPUSDT    0.409367     0.818733     1.637467     0.895500
107     SNXUSDT    2.572476     5.144952    10.289905     5.769000
176     MBLUSDT    0.004554     0.009108     0.018216     0.009915
148     MFTUSDT    0.003969     0.007939     0.015878     0.008050
178     MTLUSDT    0.949476     1.898952     3.797905     2.630000
173     ACMUSDT    2.598571     5.197143    10.394286     6.915000
207  ALPACAUSDT    0.241005     0.482010     0.964019     0.522800
242     GXSUSDT    0.853738     1.707476     3.414952     1.792300
177     JSTUSDT    0.028438     0.056877     0.113753     0.064210
189    TUSDUSDT    0.499848     0.999695     1.999390     0.999900
83     RUNEUSDT    3.295667     6.591333    13.182667     7.858000
142     ZRXUSDT    0.347724     0.695448     1.390895     0.889900
92      ZILUSDT    0.035453     0.070907     0.141813     0.095840
102     ZECUSDT   71.723810   143.447619   286.895238   151.500000
121     XMRUSDT   98.554762   197.109524   394.219048   236.900000
214    TORNUSDT   18.833571    37.667143    75.334286    51.030000
118    KAVAUSDT    1.983762     3.967524     7.935048     5.335000
74     NEARUSDT    6.376405    12.752810    25.505619    13.090000
32      TWTUSDT    0.404705     0.809410     1.618819     1.110000
42     LUNAUSDT   39.332619    78.665238   157.330476    91.780000
236    PAXGUSDT  942.714286  1885.428571  3770.857143  1896.000000
150     KNCUSDT    1.242810     2.485619     4.971238     5.271000

In [110]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [111]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,RED,ORANGE,GREEN,Current,ORatio
9,ALGOUSDT,2.99000,2.037638,1.018819,0.509410,0.67830,1.502018
203,CKBUSDT,0.04447,0.030295,0.015148,0.007574,0.01005,1.507226
138,CTSIUSDT,1.75000,0.948476,0.474238,0.237119,0.31430,1.508871
37,SANDUSDT,8.48760,7.729210,3.864605,1.932302,2.55750,1.511087
52,SUSHIUSDT,23.43000,9.176381,4.588190,2.294095,3.03500,1.511760
212,POLSUSDT,5.27000,3.660667,1.830333,0.915167,1.20400,1.520210
110,DODOUSDT,10.00000,1.138190,0.569095,0.284548,0.37400,1.521645
165,CLVUSDT,2.48500,0.938762,0.469381,0.234690,0.30800,1.523964
45,TLMUSDT,5.95000,0.275629,0.137814,0.068907,0.09000,1.531270
171,ANTUSDT,43.00000,12.026857,6.013429,3.006714,3.91200,1.537175
196,BURGERUSDT,29.00000,3.925524,1.962762,0.981381,1.27600,1.538215
254,BONDUSDT,75.00000,21.882857,10.941429,5.470714,6.87000,1.592639
139,HNTUSDT,59.27000,52.435238,26.217619,13.108810,16.20000,1.618372
12,AXSUSDT,166.09000,128.292381,64.146190,32.073095,39.49000,1.624365
88,RAYUSDT,17.80000,8.160571,4.080286,2.040143,2.50300,1.630158
185,PERPUSDT,26.21000,12.527619,6.263810,3.131905,3.77000,1.661488
220,DUSKUSDT,1.17430,0.963352,0.481676,0.240838,0.28940,1.664396
144,RSRUSDT,0.11900,0.038684,0.019342,0.009671,0.01158,1.670285
20,FTMUSDT,3.48420,3.467076,1.733538,0.866769,1.01630,1.705735
116,ONEUSDT,0.38000,0.369398,0.184699,0.092350,0.10415,1.773395
169,PONDUSDT,0.31800,0.088322,0.044161,0.022080,0.02455,1.798817
160,NANOUSDT,17.70000,9.021524,4.510762,2.255381,2.22400,2.028220

# entries

In [112]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',13],['ARUSDT',26],['ATOMUSDT',22],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',4.3],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',16.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.23055],['MOVRUSDT',51.6],['TFUELUSDT',0.16],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.10518],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','3'],['MANAUSDT','1.85'],['PAXGUSDT','1785']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.176381,4.588190,2.294095,3.03500,1.511760,13.285714
49,FTMUSDT,1.15000,2000.0,3.4842,3.467076,1.733538,0.866769,1.01630,1.705735,11.626087
23,HNTUSDT,16.90000,1250.0,59.2700,52.435238,26.217619,13.108810,16.20000,1.618372,4.142012
8,ALGOUSDT,0.70460,3300.0,2.9900,2.037638,1.018819,0.509410,0.67830,1.502018,3.732614
54,CTSIUSDT,0.32000,325.0,1.7500,0.948476,0.474238,0.237119,0.31430,1.508871,1.781250
36,ONEUSDT,0.10518,1000.0,0.3800,0.369398,0.184699,0.092350,0.10415,1.773395,0.979274
30,RAYUSDT,2.50000,100.0,17.8000,8.160571,4.080286,2.040143,2.50300,1.630158,-0.120000
29,ANTUSDT,3.80000,200.0,43.0000,12.026857,6.013429,3.006714,3.91200,1.537175,-2.947368

# Red Band

In [113]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

  Indicator    GREEN    ORANGE       RED  Current
0   KNCUSDT  1.24281  2.485619  4.971238    5.271

# Orange Band

In [114]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator       GREEN       ORANGE          RED     Current
9    ZRXUSDT    0.347724     0.695448     1.390895     0.88990
12  NEARUSDT    6.376405    12.752810    25.505619    13.09000
38  RUNEUSDT    3.295667     6.591333    13.182667     7.85800
45   ZILUSDT    0.035453     0.070907     0.141813     0.09584
55  LUNAUSDT   39.332619    78.665238   157.330476    91.78000
63  PAXGUSDT  942.714286  1885.428571  3770.857143  1896.00000

In [115]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [116]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.176381,4.588190,2.294095,3.03500,1.511760,13.285714,1.511760,3.023519,7.719934
49,FTMUSDT,1.15000,2000.0,3.4842,3.467076,1.733538,0.866769,1.01630,1.705735,11.626087,1.705735,3.411469,3.428318
23,HNTUSDT,16.90000,1250.0,59.2700,52.435238,26.217619,13.108810,16.20000,1.618372,4.142012,1.618372,3.236743,3.658642
8,ALGOUSDT,0.70460,3300.0,2.9900,2.037638,1.018819,0.509410,0.67830,1.502018,3.732614,1.502018,3.004037,4.408079
54,CTSIUSDT,0.32000,325.0,1.7500,0.948476,0.474238,0.237119,0.31430,1.508871,1.781250,1.508871,3.017742,5.567929
36,ONEUSDT,0.10518,1000.0,0.3800,0.369398,0.184699,0.092350,0.10415,1.773395,0.979274,1.773395,3.546789,3.648584
30,RAYUSDT,2.50000,100.0,17.8000,8.160571,4.080286,2.040143,2.50300,1.630158,-0.120000,1.630158,3.260316,7.111466
29,ANTUSDT,3.80000,200.0,43.0000,12.026857,6.013429,3.006714,3.91200,1.537175,-2.947368,1.537175,3.074350,10.991820

In [117]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.176381,4.588190,2.294095,3.03500,1.511760,13.285714,1.511760,3.023519,7.719934,54831.521770
49,FTMUSDT,1.15000,2000.0,3.4842,3.467076,1.733538,0.866769,1.01630,1.705735,11.626087,1.705735,3.411469,3.428318,39662.038055
23,HNTUSDT,16.90000,1250.0,59.2700,52.435238,26.217619,13.108810,16.20000,1.618372,4.142012,1.618372,3.236743,3.658642,8379.142621
8,ALGOUSDT,0.70460,3300.0,2.9900,2.037638,1.018819,0.509410,0.67830,1.502018,3.732614,1.502018,3.004037,4.408079,18501.301831
54,CTSIUSDT,0.32000,325.0,1.7500,0.948476,0.474238,0.237119,0.31430,1.508871,1.781250,1.508871,3.017742,5.567929,873.494742
36,ONEUSDT,0.10518,1000.0,0.3800,0.369398,0.184699,0.092350,0.10415,1.773395,0.979274,1.773395,3.546789,3.648584,1736.638561
30,RAYUSDT,2.50000,100.0,17.8000,8.160571,4.080286,2.040143,2.50300,1.630158,-0.120000,1.630158,3.260316,7.111466,-19.561897
29,ANTUSDT,3.80000,200.0,43.0000,12.026857,6.013429,3.006714,3.91200,1.537175,-2.947368,1.537175,3.074350,10.991820,-906.124206

In [118]:
exposuredrop.to_csv("exposuredrop.csv")

In [119]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,SUSHIUSDT,3.50000,2730.0,23.4300,9.176381,4.588190,2.294095,3.03500,1.511760,13.285714,1.511760,3.023519,7.719934,54831.521770,0.771157,0.771157
1,FTMUSDT,1.15000,2000.0,3.4842,3.467076,1.733538,0.866769,1.01630,1.705735,11.626087,1.705735,3.411469,3.428318,39662.038055,0.800363,0.800363
3,ALGOUSDT,0.70460,3300.0,2.9900,2.037638,1.018819,0.509410,0.67830,1.502018,3.732614,1.502018,3.004037,4.408079,18501.301831,0.662700,0.662700
2,HNTUSDT,16.90000,1250.0,59.2700,52.435238,26.217619,13.108810,16.20000,1.618372,4.142012,1.618372,3.236743,3.658642,8379.142621,NaN,NaN
5,ONEUSDT,0.10518,1000.0,0.3800,0.369398,0.184699,0.092350,0.10415,1.773395,0.979274,1.773395,3.546789,3.648584,1736.638561,0.898427,0.898427
4,CTSIUSDT,0.32000,325.0,1.7500,0.948476,0.474238,0.237119,0.31430,1.508871,1.781250,1.508871,3.017742,5.567929,873.494742,NaN,NaN
6,RAYUSDT,2.50000,100.0,17.8000,8.160571,4.080286,2.040143,2.50300,1.630158,-0.120000,1.630158,3.260316,7.111466,-19.561897,NaN,NaN
7,ANTUSDT,3.80000,200.0,43.0000,12.026857,6.013429,3.006714,3.91200,1.537175,-2.947368,1.537175,3.074350,10.991820,-906.124206,NaN,NaN

In [120]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []