Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [483]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [484]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT,MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [485]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [486]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
157,SUNUSDT,54.560,0.01066,0.01334,0.02039,0.01316,0.02039,0.01105,0.02039,0.01066,...,65.424228,65.424228,65.424228,4.834835,0.003445,0.008357,0.011143,0.016715,0.033430,0.596194
218,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.53000,15.29000,23.52000,14.53000,23.52000,14.53000,24.68000,14.53000,...,65.008503,65.008503,61.952998,NaN,NaN,10.736667,14.315556,21.473333,42.946667,0.424092
100,EPSUSDT,22.500,0.14180,0.19180,0.30580,0.18550,0.30580,0.14800,0.30580,0.14180,...,62.720733,62.720733,62.720733,0.390125,0.350370,0.105205,0.140273,0.210410,0.420819,0.823111
224,BTCSTUSDT,1000.000,8.00000,14.44000,22.73000,14.01000,26.50000,13.25000,26.50000,12.21000,...,63.528377,54.490566,54.490566,9.218823,0.660458,8.965952,11.954603,17.931905,35.863810,0.610537
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,NEARUSDT,20.597,0.52460,12.90600,19.78800,12.36200,19.78800,8.30900,19.78800,7.38500,...,65.221346,65.221346,65.221346,4.356337,1.519371,6.372024,8.496032,12.744048,25.488095,1.025416
32,TWTUSDT,1.650,0.16980,1.08630,1.38700,0.99400,1.54990,0.48190,1.54990,0.40380,...,78.320115,70.088393,70.088393,0.017528,1.022167,0.404140,0.538854,0.808281,1.616562,1.687927
42,LUNAUSDT,119.550,0.27330,88.22000,119.55000,75.67000,119.55000,70.44000,119.55000,43.44000,...,73.793392,73.793392,73.793392,32.935234,1.722890,39.247857,52.330476,78.495714,156.991429,1.247766
236,PAXGUSDT,2100.850,1687.57000,1902.00000,1999.00000,1880.00000,2071.00000,1878.00000,2076.00000,1790.00000,...,95.147574,91.839691,91.618497,44.661195,1.024259,942.857143,1257.142857,1885.714286,3771.428571,1.017273
150,KNCUSDT,5.700,0.68300,5.42700,5.70000,2.83700,5.70000,1.82200,5.70000,1.51600,...,95.210526,95.210526,95.210526,0.353320,1.165124,1.246524,1.662032,2.493048,4.986095,3.353707

In [487]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])
test=AllTime.loc[AllTime['Indicator']=='MANAUSDT']
test

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
85,MANAUSDT,5.9,0.03,1.8354,2.846,1.7751,2.9292,1.7751,3.5497,1.7751,...,64.490513,62.658746,51.705778,0.848672,1.457126,1.352605,1.803473,2.70521,5.410419,0.356937

In [488]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.8)]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['GREEN15'])]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

#print(save)

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")

print("Low EASY Band")

display    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

2022-04-27
Low EASY Band

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      Indicator        ATH         RED     ORANGE      GREEN   Current
131     LITUSDT   18.82640    3.712286   1.856143   0.928071   1.23300
187     STXUSDT    3.25600    3.104571   1.552286   0.776143   1.03100
163     TVKUSDT    0.55000    0.283771   0.141886   0.070943   0.09380
203     CKBUSDT    0.04447    0.030287   0.015143   0.007572   0.00996
158    AKROUSDT    0.08850    0.030380   0.015190   0.007595   0.00994
37     SANDUSDT    8.48760    7.725724   3.862862   1.931431   2.52090
9      ALGOUSDT    2.99000    2.036219   1.018110   0.509055   0.66340
221     WTCUSDT    2.92420    1.218743   0.609371   0.304686   0.39610
212    POLSUSDT    5.27000    3.658952   1.829476   0.914738   1.18600
63     MBOXUSDT   15.73400    6.669333   3.334667   1.667333   2.15500
52    SUSHIUSDT   23.43000    9.168762   4.584381   2.292190   2.95500
171     ANTUSDT   43.00000   12.020190   6.010095   3.005048   3.84200
138    CTSIUSDT    1.75000    0.947333   0.473667   0.236833   0.30230
45      TLMUSDT    5.95000    0.275390   0.137695   0.068848   0.08750
165     CLVUSDT    2.48500    0.937714   0.468857   0.234429   0.29700
110    DODOUSDT   10.00000    1.136571   0.568286   0.284143   0.35700
139     HNTUSDT   59.27000   52.458095  26.229048  13.114524  16.44000
196  BURGERUSDT   29.00000    3.920571   1.960286   0.980143   1.22400
254    BONDUSDT   75.00000   21.878095  10.939048   5.469524   6.82000
12      AXSUSDT  166.09000  128.275238  64.137619  32.068810  39.31000
88      RAYUSDT   17.80000    8.154952   4.077476   2.038738   2.44400
220    DUSKUSDT    1.17430    0.963038   0.481519   0.240760   0.28610
185    PERPUSDT   26.21000   12.522857   6.261429   3.130714   3.72000
144     RSRUSDT    0.11900    0.038660   0.019330   0.009665   0.01133
128    MASKUSDT   22.58100   13.518476   6.759238   3.379619   3.92700
20      FTMUSDT    3.48420    3.465333   1.732667   0.866333   0.99800
116     ONEUSDT    0.38000    0.369251   0.184626   0.092313   0.10261
169    PONDUSDT    0.31800    0.088261   0.044130   0.022065   0.02391
160    NANOUSDT   17.70000    9.021524   4.510762   2.255381   2.22400

In [489]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

     Indicator          RED       ORANGE       GREEN     Current
157    SUNUSDT     0.033430     0.016715    0.008357     0.01334
218    PAXUSDT     1.999019     0.999510    0.499755     0.99960
21     ICPUSDT    42.946667    21.473333   10.736667    15.29000
100    EPSUSDT     0.420819     0.210410    0.105205     0.19180
224  BTCSTUSDT    35.863810    17.931905    8.965952    14.44000
..         ...          ...          ...         ...         ...
74    NEARUSDT    25.488095    12.744048    6.372024    12.90600
32     TWTUSDT     1.616562     0.808281    0.404140     1.08630
42    LUNAUSDT   156.991429    78.495714   39.247857    88.22000
236   PAXGUSDT  3771.428571  1885.714286  942.857143  1902.00000
150    KNCUSDT     4.986095     2.493048    1.246524     5.42700

[259 rows x 5 columns]

In [490]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
150,KNCUSDT,5.7,0.683,5.427,5.7,2.837,5.7,1.822,5.7,1.516,...,95.210526,95.210526,95.210526,0.35332,1.165124,1.246524,1.662032,2.493048,4.986095,3.353707

In [491]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

      Indicator       GREEN       ORANGE          RED     Current
218     PAXUSDT    0.499755     0.999510     1.999019     0.99960
120     OGNUSDT    0.254271     0.508543     1.017086     0.54490
253    DREPUSDT    0.407902     0.815805     1.631610     0.83400
107     SNXUSDT    2.569738     5.139476    10.278952     5.65400
178     MTLUSDT    0.950048     1.900095     3.800190     2.65400
207  ALPACAUSDT    0.240681     0.481362     0.962724     0.50920
242     GXSUSDT    0.853738     1.707476     3.414952     1.79230
177     JSTUSDT    0.028428     0.056856     0.113711     0.06377
189    TUSDUSDT    0.499850     0.999700     1.999400     1.00000
142     ZRXUSDT    0.346581     0.693162     1.386324     0.84190
83     RUNEUSDT    3.293667     6.587333    13.174667     7.77400
92      ZILUSDT    0.035430     0.070860     0.141721     0.09487
102     ZECUSDT   71.635714   143.271429   286.542857   147.80000
121     XMRUSDT   98.388095   196.776190   393.552381   229.90000
214    TORNUSDT   18.807619    37.615238    75.230476    49.94000
118    KAVAUSDT    1.978333     3.956667     7.913333     5.10700
74     NEARUSDT    6.372024    12.744048    25.488095    12.90600
32      TWTUSDT    0.404140     0.808281     1.616562     1.08630
42     LUNAUSDT   39.247857    78.495714   156.991429    88.22000
236    PAXGUSDT  942.857143  1885.714286  3771.428571  1902.00000
150     KNCUSDT    1.246524     2.493048     4.986095     5.42700

In [492]:
#easybandlist = display['Indicator']
#easybandlist

## GREEN 15

In [493]:
## GREEN 15
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,RED,ORANGE,GREEN,Current,ORatio
131,LITUSDT,18.82640,3.712286,1.856143,0.928071,1.23300,1.505388
187,STXUSDT,3.25600,3.104571,1.552286,0.776143,1.03100,1.505612
163,TVKUSDT,0.55000,0.283771,0.141886,0.070943,0.09380,1.512641
203,CKBUSDT,0.04447,0.030287,0.015143,0.007572,0.00996,1.520415
158,AKROUSDT,0.08850,0.030380,0.015190,0.007595,0.00994,1.528169
37,SANDUSDT,8.48760,7.725724,3.862862,1.931431,2.52090,1.532334
9,ALGOUSDT,2.99000,2.036219,1.018110,0.509055,0.66340,1.534684
221,WTCUSDT,2.92420,1.218743,0.609371,0.304686,0.39610,1.538428
212,POLSUSDT,5.27000,3.658952,1.829476,0.914738,1.18600,1.542560
63,MBOXUSDT,15.73400,6.669333,3.334667,1.667333,2.15500,1.547409
52,SUSHIUSDT,23.43000,9.168762,4.584381,2.292190,2.95500,1.551398
171,ANTUSDT,43.00000,12.020190,6.010095,3.005048,3.84200,1.564314
138,CTSIUSDT,1.75000,0.947333,0.473667,0.236833,0.30230,1.566876
45,TLMUSDT,5.95000,0.275390,0.137695,0.068848,0.08750,1.573660
165,CLVUSDT,2.48500,0.937714,0.468857,0.234429,0.29700,1.578644
110,DODOUSDT,10.00000,1.136571,0.568286,0.284143,0.35700,1.591837
139,HNTUSDT,59.27000,52.458095,26.229048,13.114524,16.44000,1.595441
196,BURGERUSDT,29.00000,3.920571,1.960286,0.980143,1.22400,1.601541
254,BONDUSDT,75.00000,21.878095,10.939048,5.469524,6.82000,1.603966
12,AXSUSDT,166.09000,128.275238,64.137619,32.068810,39.31000,1.631585
88,RAYUSDT,17.80000,8.154952,4.077476,2.038738,2.44400,1.668362
220,DUSKUSDT,1.17430,0.963038,0.481519,0.240760,0.28610,1.683045
185,PERPUSDT,26.21000,12.522857,6.261429,3.130714,3.72000,1.683180
144,RSRUSDT,0.11900,0.038660,0.019330,0.009665,0.01133,1.706090
128,MASKUSDT,22.58100,13.518476,6.759238,3.379619,3.92700,1.721222
20,FTMUSDT,3.48420,3.465333,1.732667,0.866333,0.99800,1.736139
116,ONEUSDT,0.38000,0.369251,0.184626,0.092313,0.10261,1.799296
169,PONDUSDT,0.31800,0.088261,0.044130,0.022065,0.02391,1.845691
160,NANOUSDT,17.70000,9.021524,4.510762,2.255381,2.22400,2.028220

# entries

In [494]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.2551],['REEFUSDT',0.00806],['LINKUSDT',13],['ARUSDT',26],['ATOMUSDT',22],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',4.3],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',16.9],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',3.8],['RAYUSDT',2.5],['ROSEUSDT',0.23055],['MOVRUSDT',51.6],['TFUELUSDT',0.16],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.10518],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.17],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.32'],['LUNAUSDT','13'],['SOLUSDT','35'],['MINAUSDT','1.96'],['BTCUSDT','39000'],['ADAUSDT','0.86'],['STORJUSDT','1.05'],['THETAUSDT','3'],['MANAUSDT','1.85']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.168762,4.584381,2.292190,2.95500,1.551398,15.571429
49,FTMUSDT,1.15000,2000.0,3.4842,3.465333,1.732667,0.866333,0.99800,1.736139,13.217391
8,ALGOUSDT,0.70460,3300.0,2.9900,2.036219,1.018110,0.509055,0.66340,1.534684,5.847289
54,CTSIUSDT,0.32000,325.0,1.7500,0.947333,0.473667,0.236833,0.30230,1.566876,5.531250
23,HNTUSDT,16.90000,1250.0,59.2700,52.458095,26.229048,13.114524,16.44000,1.595441,2.721893
36,ONEUSDT,0.10518,1000.0,0.3800,0.369251,0.184626,0.092313,0.10261,1.799296,2.443430
30,RAYUSDT,2.50000,100.0,17.8000,8.154952,4.077476,2.038738,2.44400,1.668362,2.240000
29,ANTUSDT,3.80000,200.0,43.0000,12.020190,6.010095,3.005048,3.84200,1.564314,-1.105263

# Red Band

In [495]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

  Indicator     GREEN    ORANGE       RED  Current
0   KNCUSDT  1.246524  2.493048  4.986095    5.427

# Orange Band

In [496]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator      GREEN     ORANGE         RED   Current
9    ZRXUSDT   0.346581   0.693162    1.386324   0.84190
12  NEARUSDT   6.372024  12.744048   25.488095  12.90600
38  RUNEUSDT   3.293667   6.587333   13.174667   7.77400
45   ZILUSDT   0.035430   0.070860    0.141721   0.09487
55  LUNAUSDT  39.247857  78.495714  156.991429  88.22000

In [497]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [498]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.168762,4.584381,2.292190,2.95500,1.551398,15.571429,1.551398,3.102796,7.928934
49,FTMUSDT,1.15000,2000.0,3.4842,3.465333,1.732667,0.866333,0.99800,1.736139,13.217391,1.736139,3.472278,3.491182
8,ALGOUSDT,0.70460,3300.0,2.9900,2.036219,1.018110,0.509055,0.66340,1.534684,5.847289,1.534684,3.069368,4.507085
54,CTSIUSDT,0.32000,325.0,1.7500,0.947333,0.473667,0.236833,0.30230,1.566876,5.531250,1.566876,3.133752,5.788951
23,HNTUSDT,16.90000,1250.0,59.2700,52.458095,26.229048,13.114524,16.44000,1.595441,2.721893,1.595441,3.190882,3.605231
36,ONEUSDT,0.10518,1000.0,0.3800,0.369251,0.184626,0.092313,0.10261,1.799296,2.443430,1.799296,3.598591,3.703343
30,RAYUSDT,2.50000,100.0,17.8000,8.154952,4.077476,2.038738,2.44400,1.668362,2.240000,1.668362,3.336724,7.283142
29,ANTUSDT,3.80000,200.0,43.0000,12.020190,6.010095,3.005048,3.84200,1.564314,-1.105263,1.564314,3.128628,11.192087

In [499]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
#exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
20,SUSHIUSDT,3.50000,2730.0,23.4300,9.168762,4.584381,2.292190,2.95500,1.551398,15.571429,1.551398,3.102796,7.928934,65949.927000
49,FTMUSDT,1.15000,2000.0,3.4842,3.465333,1.732667,0.866333,0.99800,1.736139,13.217391,1.736139,3.472278,3.491182,45894.455578
8,ALGOUSDT,0.70460,3300.0,2.9900,2.036219,1.018110,0.509055,0.66340,1.534684,5.847289,1.534684,3.069368,4.507085,29613.350705
54,CTSIUSDT,0.32000,325.0,1.7500,0.947333,0.473667,0.236833,0.30230,1.566876,5.531250,1.566876,3.133752,5.788951,2816.704743
23,HNTUSDT,16.90000,1250.0,59.2700,52.458095,26.229048,13.114524,16.44000,1.595441,2.721893,1.595441,3.190882,3.605231,5428.275091
36,ONEUSDT,0.10518,1000.0,0.3800,0.369251,0.184626,0.092313,0.10261,1.799296,2.443430,1.799296,3.598591,3.703343,4396.453233
30,RAYUSDT,2.50000,100.0,17.8000,8.154952,4.077476,2.038738,2.44400,1.668362,2.240000,1.668362,3.336724,7.283142,373.713039
29,ANTUSDT,3.80000,200.0,43.0000,12.020190,6.010095,3.005048,3.84200,1.564314,-1.105263,1.564314,3.128628,11.192087,-345.795775

In [500]:
exposuredrop.to_csv("exposuredrop.csv")

In [501]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
0,SUSHIUSDT,3.50000,2730.0,23.4300,9.168762,4.584381,2.292190,2.95500,1.551398,15.571429,1.551398,3.102796,7.928934,65949.927000,0.771157,0.771157
1,FTMUSDT,1.15000,2000.0,3.4842,3.465333,1.732667,0.866333,0.99800,1.736139,13.217391,1.736139,3.472278,3.491182,45894.455578,0.800363,0.800363
2,ALGOUSDT,0.70460,3300.0,2.9900,2.036219,1.018110,0.509055,0.66340,1.534684,5.847289,1.534684,3.069368,4.507085,29613.350705,0.662700,0.662700
4,HNTUSDT,16.90000,1250.0,59.2700,52.458095,26.229048,13.114524,16.44000,1.595441,2.721893,1.595441,3.190882,3.605231,5428.275091,NaN,NaN
5,ONEUSDT,0.10518,1000.0,0.3800,0.369251,0.184626,0.092313,0.10261,1.799296,2.443430,1.799296,3.598591,3.703343,4396.453233,0.898427,0.898427
3,CTSIUSDT,0.32000,325.0,1.7500,0.947333,0.473667,0.236833,0.30230,1.566876,5.531250,1.566876,3.133752,5.788951,2816.704743,NaN,NaN
6,RAYUSDT,2.50000,100.0,17.8000,8.154952,4.077476,2.038738,2.44400,1.668362,2.240000,1.668362,3.336724,7.283142,373.713039,NaN,NaN
7,ANTUSDT,3.80000,200.0,43.0000,12.020190,6.010095,3.005048,3.84200,1.564314,-1.105263,1.564314,3.128628,11.192087,-345.795775,NaN,NaN

In [502]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []