Generate the easy band in the first section based on live data 
compare it to the entries in the second part

In [294]:
import numpy as np 
import pandas as pd 
from datetime import date
#Data Source (Pandas Data Reader)
from pandas_datareader import data
import requests 
import json
from dateutil.relativedelta import relativedelta


#Data Source(Pandas Data Reader)

In [295]:
whitelist = 'POWR/USDT, MDT/USDT,BLZ/USDT, CHR/USDT, ORN/USDT, VIDT/USDT, IRIS/USDT, SHIB/USDT, MATIC/USDT,ALGO/USDT, BTC/USDT, ETH/USDT, AXS/USDT, SOL/USDT, MATIC/USDT, ADA/USDT, BNB/USDT, FIL/USDT, XRP/USDT, CVC/USDT, FTM/USDT, ICP/USDT, DOGE/USDT, XEC/USDT, IOTA/USDT, AVAX/USDT, DOT/USDT, LTC/USDT, EOS/USDT, IOST/USDT, STMX/USDT, FTT/USDT, TWT/USDT, ALICE/USDT, ATA/USDT, ETC/USDT, VET/USDT, SAND/USDT, LINK/USDT, THETA/USDT, SHIB/USDT, CHZ/USDT, LUNA/USDT, IOTX/USDT, TRX/USDT, TLM/USDT, BCH/USDT, REEF/USDT, CAKE/USDT, NEO/USDT,RVN/USDT, ATOM/USDT, SUSHI/USDT, ARDR/USDT, OMG/USDT, GRT/USDT, 1INCH/USDT, AAVE/USDT, C98/USDT, UNI/USDT, HBAR/USDT, CRV/USDT, DENT/USDT, MBOX/USDT, BTT/USDT, SRM/USDT, YFI/USDT, HOT/USDT, XLM/USDT, FIS/USDT, REQ/USDT, SXP/USDT, KSM/USDT, QNT/USDT, NEAR/USDT, COMP/USDT, QTUM/USDT, CHR/USDT, SC/USDT, XVS/USDT, ONT/USDT, COTI/USDT, NKN/USDT, RUNE/USDT, ANKR/USDT, MANA/USDT, CTXC/USDT, AR/USDT, RAY/USDT, BAKE/USDT, ARPA/USDT, XTZ/USDT, ZIL/USDT, ONG/USDT, ROSE/USDT, PNT/USDT, ALGO/USDT, MINA/USDT, WIN/USDT, AUDIO/USDT, STORJ/USDT, EPS/USDT, MDX/USDT, ZEC/USDT, ENJ/USDT, HIVE/USDT, TFUEL/USDT, WRX/USDT, SNX/USDT, SKL/USDT, LINA/USDT, DODO/USDT, UNFI/USDT, XEM/USDT, EGLD/USDT, ICX/USDT, WAVES/USDT, ONE/USDT, DASH/USDT, KAVA/USDT, SUPER/USDT, TKO/USDT, OGN/USDT, XMR/USDT, OCEAN/USDT, CELO/USDT, BAT/USDT, FUN/USDT, LRC/USDT, ALPHA/USDT, MASK/USDT, TRU/USDT, DNT/USDT, LIT/USDT, FET/USDT, GTC/USDT, CELR/USDT, DEXE/USDT, ZEN/USDT, WAXP/USDT, CTSI/USDT, HNT/USDT, YFII/USDT, BEL/USDT, ZRX/USDT, DEGO/USDT, RSR/USDT, COS/USDT, FLM/USDT, BAL/USDT, MFT/USDT, RLC/USDT, KNC/USDT, REN/USDT, INJ/USDT, FLOW/USDT, SFP/USDT, BAND/USDT, CTK/USDT, SUN/USDT, AKRO/USDT, XVG/USDT, NANO/USDT, STRAX/USDT, PUNDIX/USDT, TVK/USDT, MKR/USDT, CLV/USDT, TRB/USDT, ETHUP/USDT, KEEP/USDT, TCT/USDT, POND/USDT, LTO/USDT, ANT/USDT, TOMO/USDT, ACM/USDT, FIO/USDT, VITE/USDT, MBL/USDT, JST/USDT, MTL/USDT, UTK/USDT, BLZ/USDT, ORN/USDT, STPT/USDT, CFX/USDT, OM/USDT, PERP/USDT, MIR/USDT, STX/USDT, ERN/USDT, TUSD/USDT, PSG/USDT, NULS/USDT, OXT/USDT, REP/USDT, BNBUP/USDT, DATA/USDT, WAN/USDT, BURGER/USDT, RAMP/USDT, ATM/USDT, DGB/USDT, DIA/USDT, BEAM/USDT, UMA/USDT, ETHDOWN/USDT, CKB/USDT, TRIBE/USDT, FARM/USDT, BTCUP/USDT, BZRX/USDT, ALPACA/USDT, DOTUP/USDT, BTS/USDT, FOR/USDT, ADAUP/USDT, HARD/USDT, LSK/USDT, POLS/USDT, FORTH/USDT, TORN/USDT, VTHO/USDT, BTG/USDT, QUICK/USDT, FILUP/USDT, PAX/USDT, MITH/USDT, SUSHIUP/USDT, BTCDOWN/USDT, XRPDOWN/USDT, BNBDOWN/USDT, DUSK/USDT, XRPUP/USDT, WTC/USDT, DOCK/USDT, AUTO/USDT, BTCST/USDT, KLAY/USDT, WNXM/USDT, KEY/USDT, FILDOWN/USDT, NU/USDT, IRIS/USDT, KMD/USDT, TROY/USDT, WING/USDT, AION/USDT, PHA/USDT, SUSHIDOWN/USDT, EOSUP/USDT, LTCUP/USDT, GHST/USDT, PAXG/USDT, BNT/USDT, AVA/USDT, BADGER/USDT, PERL/USDT, COCOS/USDT, GXS/USDT, MDT/USDT, 1INCHUP/USDT, GTO/USDT, LINKUP/USDT, AAVEUP/USDT, FIRO/USDT, JUV/USDT, MLN/USDT, UNIUP/USDT, LPT/USDT, NMR/USDT, AAVEDOWN/USDT, 1INCHDOWN/USDT, ASR/USDT, OG/USDT, BAR/USDT, DREP/USDT, BOND/USDT, DCR/USDT, GNO/USDT, NBS/USDT, RIF/USDT'
#whitelist = 'LINK/USDT, DOT/USDT'
startdate = '2020-01-01'
enddate = '2022-03-22'
enddate = pd.to_datetime('today')

interval = '1w'

In [296]:
def FRSI(series, period=14):
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    return 100 - (100 / (1 + rs))


# calculating Stoch RSI (gives the same values as TradingView)
# https://www.tradingview.com/wiki/Stochastic_RSI_(STOCH_RSI) 
def STRSIA(series, period=14, smoothK=3, smoothD=3):
    # Calculate RSI 
    delta = series.diff().dropna()
    ups = delta * 0
    downs = ups.copy()
    ups[delta > 0] = delta[delta > 0]
    downs[delta < 0] = -delta[delta < 0]
    ups[ups.index[period-1]] = np.mean( ups[:period] ) #first value is sum of avg gains
    ups = ups.drop(ups.index[:(period-1)])
    downs[downs.index[period-1]] = np.mean( downs[:period] ) #first value is sum of avg losses
    downs = downs.drop(downs.index[:(period-1)])
    rs = ups.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() / \
         downs.ewm(com=period-1,min_periods=0,adjust=False,ignore_na=False).mean() 
    rsi = 100 - 100 / (1 + rs)

    # Calculate StochRSI 
    stochrsi  = (rsi - rsi.rolling(period).min()) / (rsi.rolling(period).max() - rsi.rolling(period).min())
    stochrsi_K = stochrsi.rolling(smoothK).mean()
    stochrsi_D = stochrsi_K.rolling(smoothD).mean()
    return stochrsi, stochrsi_K, stochrsi_D

#Calulate SMA 
def SMA(series,size):
    sma = series.rolling(size).mean()
    return sma
#Calculate SMA55

In [297]:
whitelist=whitelist.lstrip()
array = whitelist.split(",")
array
wl = []
bl = []
blacklist = ""
whitelist = ""
symbols =[]
for i in range(0 ,len(array)):
    if (array[i].find('DOWN') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])
    elif (array[i].find('UP') != -1):
        bl.append(str(array[i]).lstrip())
        #print ("Contains given substring ")
        blacklist += str(array[i])

    else:
        wl.append(str(array[i]).lstrip().replace("/",""))
        whitelist +=str(array[i]).lstrip()
        #print ("Doesn't contains given substring")
    

    
#symbols to be used to get the prices from binance url
symbols = np.array(wl)


## get the data 
import os

live = pd.to_datetime('today')
start = pd.to_datetime(startdate)
end = pd.to_datetime(enddate)

root_url = 'https://api.binance.com/api/v1/klines'
symbol = 'STEEMETH'
#interval = '1d'
url = root_url + '?symbol=' + symbol + '&interval=' + interval
print(url)


directory = 'BN-main'
table = []
   
      
        

for symbol in symbols:
        url = root_url + '?symbol=' + symbol + '&interval=' + interval
        data = json.loads(requests.get(url).text)
        dflive = pd.DataFrame(data ,columns =['open_time',
              'o', 'h', 'l', 'c', 'v',
              'close_time', 'qav', 'num_trades',
              'taker_base_vol', 'taker_quote_vol', 'ignore'])
        dflive.open_time = pd.to_datetime(dflive['open_time'],unit='ms')
        dflive=dflive.loc[(dflive.open_time>start)]
        
        dflive = dflive.astype ({'o': float ,'h':float,'l':float ,'c':float ,'v':float})
        dflive['SMA21'] = SMA(dflive['c'],21)
        dflive['SMA55'] = SMA(dflive['c'],55)
        dflive['SMA100'] = SMA(dflive['c'],100)
        
        
        
        #print(symbol)
        lastrow = dflive.iloc[-1]
        now = float(lastrow.c)
        SMA21 = float(lastrow.SMA21)
        SMA55 = float(lastrow.SMA55)
        SMA100 = float(lastrow.SMA100)
        
        
        alth = dflive.h.max()
        altl = dflive.l.min()
        
        
        ## past 1 month 
        past_month = end - relativedelta(months=1)
        
        back1Mdata = dflive.loc[(dflive.open_time> past_month)]
        omh = back1Mdata.h.max()
        oml = back1Mdata.l.min()
        ## past 2 month
        
        past_2month = end - relativedelta(months=2)
        back2Mdata = dflive.loc[(dflive.open_time> past_2month)]
        tmh = back2Mdata.h.max()
        tml = back2Mdata.l.min()
        ## past 3 month 
        
        past_3month = end - relativedelta(months=3)
        back3Mdata = dflive.loc[(dflive.open_time> past_3month)]
        thmh = back3Mdata.h.max()
        thml = back3Mdata.l.min()
        
 
        tuple =(symbol,alth,altl,now,omh,oml,tmh,tml,thmh,thml,SMA21,SMA55,SMA100,)
        table.append(tuple)
        del dflive
        #print("name is: ",array[0] ,alth,altl)
        #print("name is: ",symbol)
        

table[0]
AllTime = pd.DataFrame(table,columns=['Indicator','ATH','ATL','Current','OMH','OML','TMH','TML','THMH','THML','SMA21','SMA55','SMA100'])
AllTime.ATH=AllTime.ATH.astype(float)
AllTime.ATL=AllTime.ATL.astype(float)
AllTime.Current=AllTime.Current.astype(float)
AllTime.OMH=AllTime.OMH.astype(float)
AllTime.OML=AllTime.OML.astype(float)
AllTime.TMH=AllTime.TMH.astype(float)
AllTime.TML=AllTime.TML.astype(float)
AllTime.THMH=AllTime.THMH.astype(float)
AllTime.THML=AllTime.THML.astype(float)
AllTime.dtypes

AllTime['ALLTIME']=(AllTime['Current']/AllTime['ATH'])*100
AllTime['MONTH']=(AllTime['Current']/AllTime['OMH'])*100
AllTime['2MONTH']=(AllTime['Current']/AllTime['TMH'])*100
AllTime['3MONTH']=(AllTime['Current']/AllTime['THMH'])*100
AllTime['SMADIFF']= abs(AllTime['SMA21']- AllTime['SMA55'])
AllTime['SMARATIO']= (AllTime['SMA21']/AllTime['SMA55'])
AllTime['GREEN'] = (AllTime['SMA21'])/2
AllTime['GREEN15'] = (AllTime['SMA21'])/1.5
AllTime['ORANGE'] = (AllTime['SMA21'])
AllTime['RED'] = (AllTime['SMA21'])*2
AllTime['CLOSERATIO']= ((AllTime['Current']- AllTime['GREEN']))/AllTime['GREEN']



AllTime.sort_values(by=['ALLTIME'],ascending=True,inplace = True)
#AllTime.sort_values(by='ATH',ascending=False)
#AllTime.to_csv("alltimeHL.csv", mode="w")
#data.sort_values("Name", axis = 0, ascending = True,inplace = True, na_position ='last')

## Display the Data 
AllTime

https://api.binance.com/api/v1/klines?symbol=STEEMETH&interval=1w

,Indicator,ATH,ATL,Current,OMH,OML,TMH,TML,THMH,THML,...,MONTH,2MONTH,3MONTH,SMADIFF,SMARATIO,GREEN,GREEN15,ORANGE,RED,CLOSERATIO
158,SUNUSDT,54.560,0.01066,0.01682,0.02039,0.01106,0.02039,0.01066,0.02189,0.01066,...,82.491417,82.491417,76.838739,6.966964,0.002716,0.009487,0.012650,0.018975,0.037950,0.772881
219,PAXUSDT,999.000,0.93880,0.99960,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.000014,0.999986,0.499755,0.666340,0.999510,1.999019,1.000181
21,ICPUSDT,2831.020,14.68000,18.12000,23.52000,15.34000,23.52000,14.68000,31.72000,14.68000,...,77.040816,77.040816,57.124842,NaN,NaN,12.363810,16.485079,24.727619,49.455238,0.465568
101,EPSUSDT,22.500,0.14180,0.22260,0.27740,0.14800,0.27740,0.14180,0.29500,0.14180,...,80.245133,80.245133,75.457627,NaN,NaN,0.121226,0.161635,0.242452,0.484905,0.836237
225,BTCSTUSDT,1000.000,8.00000,16.87000,22.73000,13.96000,26.50000,12.21000,26.50000,12.21000,...,74.219094,63.660377,63.660377,8.612549,0.701493,10.119762,13.493016,20.239524,40.479048,0.667035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,TWTUSDT,1.650,0.16980,1.13750,1.54990,0.61250,1.54990,0.40380,1.54990,0.40380,...,73.391832,73.391832,73.391832,0.022095,1.028798,0.394667,0.526222,0.789333,1.578667,1.882179
42,LUNAUSDT,119.550,0.27330,94.16000,119.55000,82.57000,119.55000,47.29000,119.55000,43.44000,...,78.762024,78.762024,78.762024,32.227728,1.769318,37.059524,49.412698,74.119048,148.238095,1.540777
74,NEARUSDT,20.597,0.52460,16.59100,19.78800,9.60800,19.78800,7.38500,20.18200,7.38500,...,83.843744,83.843744,82.206917,3.970404,1.499741,5.957667,7.943556,11.915333,23.830667,1.784815
151,KNCUSDT,4.400,0.68300,3.57900,4.40000,2.51300,4.40000,1.51600,4.40000,1.25000,...,81.340909,81.340909,81.340909,0.013170,0.993566,1.016833,1.355778,2.033667,4.067333,2.519751
237,PAXGUSDT,2100.850,1687.57000,1949.00000,1988.00000,1892.00000,2076.00000,1845.00000,2076.00000,1787.00000,...,98.038229,93.882466,93.882466,36.067342,1.019701,933.404762,1244.539683,1866.809524,3733.619048,1.088054

In [298]:
#for i, j in zip(range(0,len(AllTime.index),70), range(70,len(AllTime.index),70)):
    #print(i,j)
    #print(AllTime.iloc[i:j,0:5])
    #if j+70 > len(AllTime.index):
        #print(j,len(AllTime.index))
        #print(AllTime.iloc[j:len(AllTime.index),0:5])

In [299]:
#drop = AllTime.loc[(AllTime['RSI'] < 30)& (AllTime['STRSI'] < 0.1)]
#drop = AllTime.loc[(AllTime['SMARATIO'] <  1.05 ) &(AllTime['SMARATIO'] > 0.95)& (AllTime['ALLTIME'] <70) ]
#drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21'])]
drop = AllTime.loc[(AllTime['Current'] <= AllTime['SMA21']/1.5)]

#drop = AllTime.loc[(AllTime['SMARATIO'] <  1 ) &(AllTime['SMARATIO'] > 0.95) & (AllTime['ALLTIME'] <70)]

#drop = AllTime.loc[(AllTime['MONTH'] < 80)&(AllTime[ '2MONTH'] < 70)&(AllTime['ALLTIME'] < 40)]
#drop = AllTime.loc[(AllTime['MONTH'] <70)&(AllTime['2MONTH'] > (AllTime['3MONTH']))]

sort = drop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True) 
#sort = drop.sort_values(by=['ALLTIME'],ascending=True,inplace = True) 

#drop = drop.loc[(drop['ALLTIME'] < drop['3MONTH'])]
display = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
#print(drop)
save = drop[['Indicator','ATH','CLOSERATIO','RED','ORANGE','GREEN','Current']]
save=save.drop_duplicates(subset='Indicator',keep='last')

print(save)
print("Low EASY Band")

save.to_csv("easyband.csv")
print(str(date.today()))
#print(date)
save.to_csv("easyband"+str(date.today())+".csv")
save
    
#print(display.iloc[0:60,0:14])
#print(display.iloc[60:110,])
#print(display.iloc[110:160,])

      Indicator       ATH  CLOSERATIO        RED     ORANGE     GREEN  Current
197  BURGERUSDT  29.00000    0.329596   4.569810   2.284905  1.142452  1.51900
204     CKBUSDT   0.04447    0.325665   0.034941   0.017470  0.008735  0.01158
166     CLVUSDT   2.48500    0.321146   1.156571   0.578286  0.289143  0.38200
164     TVKUSDT   0.55000    0.320825   0.360381   0.180190  0.090095  0.11900
33    ALICEUSDT  60.00000    0.320606  20.354286  10.177143  5.088571  6.72000
9      ALGOUSDT   2.99000    0.316635   2.345981   1.172990  0.586495  0.77220
255    BONDUSDT  75.00000    0.292262  26.991429  13.495714  6.747857  8.72000
117     ONEUSDT   0.38000    0.265129   0.410140   0.205070  0.102535  0.12972
45      TLMUSDT   5.95000    0.264775   0.345990   0.172995  0.086498  0.10940
145     RSRUSDT   0.11900    0.257844   0.046015   0.023008  0.011504  0.01447
132     LITUSDT  18.82640    0.257495   4.631429   2.315714  1.157857  1.45600
170    PONDUSDT   0.31800    0.237601   0.107078   0.053539  0.026770  0.03313
186    PERPUSDT  26.21000    0.206501  15.118095   7.559048  3.779524  4.56000
111    DODOUSDT  10.00000    0.193821   1.387143   0.693571  0.346786  0.41400
88      RAYUSDT  17.80000    0.150175  10.207143   5.103571  2.551786  2.93500
129    MASKUSDT  22.58100    0.137017  16.140476   8.070238  4.035119  4.58800
161    NANOUSDT  17.70000   -0.013914   9.021524   4.510762  2.255381  2.22400
Low EASY Band
2022-04-10

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

      Indicator       ATH  CLOSERATIO        RED     ORANGE     GREEN  Current
197  BURGERUSDT  29.00000    0.329596   4.569810   2.284905  1.142452  1.51900
204     CKBUSDT   0.04447    0.325665   0.034941   0.017470  0.008735  0.01158
166     CLVUSDT   2.48500    0.321146   1.156571   0.578286  0.289143  0.38200
164     TVKUSDT   0.55000    0.320825   0.360381   0.180190  0.090095  0.11900
33    ALICEUSDT  60.00000    0.320606  20.354286  10.177143  5.088571  6.72000
9      ALGOUSDT   2.99000    0.316635   2.345981   1.172990  0.586495  0.77220
255    BONDUSDT  75.00000    0.292262  26.991429  13.495714  6.747857  8.72000
117     ONEUSDT   0.38000    0.265129   0.410140   0.205070  0.102535  0.12972
45      TLMUSDT   5.95000    0.264775   0.345990   0.172995  0.086498  0.10940
145     RSRUSDT   0.11900    0.257844   0.046015   0.023008  0.011504  0.01447
132     LITUSDT  18.82640    0.257495   4.631429   2.315714  1.157857  1.45600
170    PONDUSDT   0.31800    0.237601   0.107078   0.053539  0.026770  0.03313
186    PERPUSDT  26.21000    0.206501  15.118095   7.559048  3.779524  4.56000
111    DODOUSDT  10.00000    0.193821   1.387143   0.693571  0.346786  0.41400
88      RAYUSDT  17.80000    0.150175  10.207143   5.103571  2.551786  2.93500
129    MASKUSDT  22.58100    0.137017  16.140476   8.070238  4.035119  4.58800
161    NANOUSDT  17.70000   -0.013914   9.021524   4.510762  2.255381  2.22400

In [300]:
allbands = AllTime[['Indicator','RED','ORANGE','GREEN','Current']]
allbands.to_csv("allbands.csv")
allbands

     Indicator          RED       ORANGE       GREEN     Current
158    SUNUSDT     0.037950     0.018975    0.009487     0.01682
219    PAXUSDT     1.999019     0.999510    0.499755     0.99960
21     ICPUSDT    49.455238    24.727619   12.363810    18.12000
101    EPSUSDT     0.484905     0.242452    0.121226     0.22260
225  BTCSTUSDT    40.479048    20.239524   10.119762    16.87000
..         ...          ...          ...         ...         ...
32     TWTUSDT     1.578667     0.789333    0.394667     1.13750
42    LUNAUSDT   148.238095    74.119048   37.059524    94.16000
74    NEARUSDT    23.830667    11.915333    5.957667    16.59100
151    KNCUSDT     4.067333     2.033667    1.016833     3.57900
237   PAXGUSDT  3733.619048  1866.809524  933.404762  1949.00000

[260 rows x 5 columns]

In [301]:
# red band 

## band to sell in down trends
redband = AllTime.loc[(AllTime['Current'] >= 2*AllTime['SMA21'])]
redband.to_csv("redband.csv")
redband

Empty DataFrame
Columns: [Indicator, ATH, ATL, Current, OMH, OML, TMH, TML, THMH, THML, SMA21, SMA55, SMA100, ALLTIME, MONTH, 2MONTH, 3MONTH, SMADIFF, SMARATIO, GREEN, GREEN15, ORANGE, RED, CLOSERATIO]
Index: []

[0 rows x 24 columns]

In [302]:
## band to sell in down trends
orangeband = AllTime.loc[(AllTime['Current'] >= AllTime['SMA21'])]
test = orangeband[['Indicator','GREEN','ORANGE','RED','Current']]
test.to_csv("orangeband.csv")
test

      Indicator       GREEN       ORANGE          RED      Current
219     PAXUSDT    0.499755     0.999510     1.999019     0.999600
253     BARUSDT    4.123571     8.247143    16.494286     8.460000
251     ASRUSDT    1.842048     3.684095     7.368190     3.718000
109     SKLUSDT    0.092133     0.184267     0.368533     0.201500
121     OGNUSDT    0.281888     0.563776     1.127552     0.592900
30     STMXUSDT    0.009772     0.019545     0.039090     0.019950
232    TROYUSDT    0.004603     0.009206     0.018412     0.009222
35      ETCUSDT   17.577857    35.155714    70.311429    41.670000
177     MBLUSDT    0.004636     0.009273     0.018546     0.010282
148     BALUSDT    7.670952    15.341905    30.683810    17.870000
23      XECUSDT    0.000050     0.000100     0.000200     0.000101
149     MFTUSDT    0.004270     0.008540     0.017080     0.009093
174     ACMUSDT    2.635262     5.270524    10.541048     6.759000
131     DNTUSDT    0.055738     0.111476     0.222952     0.138100
192    NULSUSDT    0.276845     0.553690     1.107381     0.563700
245     GTOUSDT    0.022720     0.045440     0.090880     0.045460
254    DREPUSDT    0.426774     0.853548     1.707095     1.402400
243     GXSUSDT    0.828495     1.656990     3.313981     1.825800
143     ZRXUSDT    0.366117     0.732233     1.464467     0.783600
208  ALPACAUSDT    0.248793     0.497586     0.995171     0.590600
190    TUSDUSDT    0.499805     0.999610     1.999219     0.999700
29     IOSTUSDT    0.014985     0.029970     0.059939     0.031310
178     JSTUSDT    0.028628     0.057255     0.114510     0.078570
116   WAVESUSDT    9.389286    18.778571    37.557143    25.240000
83     RUNEUSDT    3.459595     6.919190    13.838381     9.204000
103     ZECUSDT   76.685714   153.371429   306.742857   166.000000
122     XMRUSDT   97.547619   195.095238   390.190476   233.600000
92      ZILUSDT    0.033864     0.067727     0.135454     0.120810
215    TORNUSDT   18.807381    37.614762    75.229524    46.650000
97     MINAUSDT    1.499643     2.999286     5.998571     3.182000
119    KAVAUSDT    1.962738     3.925476     7.850952     4.490000
31      FTTUSDT   21.805000    43.610000    87.220000    45.580000
257     GNOUSDT  189.907143   379.814286   759.628571   393.300000
32      TWTUSDT    0.394667     0.789333     1.578667     1.137500
42     LUNAUSDT   37.059524    74.119048   148.238095    94.160000
74     NEARUSDT    5.957667    11.915333    23.830667    16.591000
151     KNCUSDT    1.016833     2.033667     4.067333     3.579000
237    PAXGUSDT  933.404762  1866.809524  3733.619048  1949.000000

In [303]:
#easybandlist = display['Indicator']
#easybandlist

In [304]:
#display.Current.astype(float)

display = display.loc[:] 
display['ORatio'] = display['ORANGE']/display['Current'] 
#display = display.loc[display['CLOSERATIO']> 0.01]
display

#display

,Indicator,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio
197,BURGERUSDT,29.00000,0.329596,4.569810,2.284905,1.142452,1.51900,1.504216
204,CKBUSDT,0.04447,0.325665,0.034941,0.017470,0.008735,0.01158,1.508677
166,CLVUSDT,2.48500,0.321146,1.156571,0.578286,0.289143,0.38200,1.513837
164,TVKUSDT,0.55000,0.320825,0.360381,0.180190,0.090095,0.11900,1.514206
33,ALICEUSDT,60.00000,0.320606,20.354286,10.177143,5.088571,6.72000,1.514456
96,ALGOUSDT,2.99000,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024
9,ALGOUSDT,2.99000,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024
255,BONDUSDT,75.00000,0.292262,26.991429,13.495714,6.747857,8.72000,1.547674
117,ONEUSDT,0.38000,0.265129,0.410140,0.205070,0.102535,0.12972,1.580866
45,TLMUSDT,5.95000,0.264775,0.345990,0.172995,0.086498,0.10940,1.581309
145,RSRUSDT,0.11900,0.257844,0.046015,0.023008,0.011504,0.01447,1.590022
132,LITUSDT,18.82640,0.257495,4.631429,2.315714,1.157857,1.45600,1.590463
170,PONDUSDT,0.31800,0.237601,0.107078,0.053539,0.026770,0.03313,1.616029
186,PERPUSDT,26.21000,0.206501,15.118095,7.559048,3.779524,4.56000,1.657686
111,DODOUSDT,10.00000,0.193821,1.387143,0.693571,0.346786,0.41400,1.675293
88,RAYUSDT,17.80000,0.150175,10.207143,5.103571,2.551786,2.93500,1.738866
129,MASKUSDT,22.58100,0.137017,16.140476,8.070238,4.035119,4.58800,1.758988
161,NANOUSDT,17.70000,-0.013914,9.021524,4.510762,2.255381,2.22400,2.028220

# entries

In [305]:

#entrylist =[['ANKRUSDT',0.07684],['AVAXUSDT',57],['WAXPUSDT',0.3818],['REEFUSDT',0.01131],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.909],['ZRXUSDT',0.60],['XTZUSDT',2.856],['KSMUSDT',163],['NEARUSDT',14],['WINUSDT',0.0003138],['CELRUSDT',0.05063],['DENTUSDT',0.002459],['LRCUSDT',0.7047],['CRVUSDT',3.529],['IMXUSDT',2.709],['SCRTUSDT',5],['RENUSDT',0.2547],['SUSHIUSDT',4.522],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',30],['OMGUSDT',4.5],['LINAUSDT',0.024],['MIRUSDT',2.343],['FLUXUSDT',1.523]]
entrylist =[['ANKRUSDT',0.05415],['AVAXUSDT',57],['WAXPUSDT',0.3174],['REEFUSDT',0.00806],['LINKUSDT',14.15],['ARUSDT',30],['ATOMUSDT',23],['MIRUSDT',2.343],['ALGOUSDT',0.7046],['ZRXUSDT',0.50],['XTZUSDT',2.856],['KSMUSDT',150],['NEARUSDT',10.320],['WINUSDT',0.0003138],['DENTUSDT',0.002459],['LRCUSDT',0.677],['CRVUSDT',2.12],['IMXUSDT',1.30],['SCRTUSDT',5],['RENUSDT',0.3047],['SUSHIUSDT',3.5],['CAKEUSDT',11.24],['XLMUSDT',0.2109],['HNTUSDT',22.7],['OMGUSDT',4.5],['LINAUSDT',0.01759],['FLUXUSDT',1.523],['SRMUSDT',1.8],['VTHOUSDT',0.0031],['ANTUSDT',5.616],['RAYUSDT',2.5],['ROSEUSDT',0.24055],['MOVRUSDT',51.6],['TFUELUSDT',0.18],['GLMRUSDT',4.5],['COTIUSDT',0.2277],['ONEUSDT',0.13171],['VETUSDT',0.05138],['RUNEUSDT',3.709],['CELRUSDT',0.034063],['ONTUSDT',0.4652],['GALAUSDT',0.24794],['GRTUSDT',0.3164],['DOTUSDT',16.31],['ZILUSDT',0.04410],['FILUSDT',20],['SCUSDT',0.011],['MATICUSDT',1.4],['FTMUSDT',1.15],['BANDUSDT',3.6],['1INCHUSDT',1.6],['AUDIOUSDT',1.0],['IOTXUSDT','0.07109'],['CTSIUSDT','0.62'],['LUNAUSDT','13'],['SOLUSDT','35']]
exposurelist =[['ANKRUSDT',311],['AVAXUSDT',2850],['WAXPUSDT',527],['REEFUSDT',700],['LINKUSDT',6000],['ARUSDT',2450],['ATOMUSDT',1863],['MIRUSDT',85],['ALGOUSDT',3300],['ZRXUSDT',245],['XTZUSDT',1200],['KSMUSDT',7800],['NEARUSDT',1360],['WINUSDT',285],['DENTUSDT',385],['LRCUSDT',660],['CRVUSDT',323],['IMXUSDT',269],['SCRTUSDT',601],['RENUSDT',684],['SUSHIUSDT',2730],['CAKEUSDT',4000],['XLMUSDT',368],['HNTUSDT',1250],['OMGUSDT',765],['LINAUSDT',205],['FLUXUSDT',224],['SRMUSDT',587],['VTHOUSDT',413],['ANTUSDT',200],['RAYUSDT',100],['ROSEUSDT',634],['MOVRUSDT',500],['TFUELUSDT',344],['GLMRUSDT',400],['COTIUSDT',500],['ONEUSDT',1000],['VETUSDT',500],['RUNEUSDT',750],['CELRUSDT',500],['ONTUSDT',400],['GALAUSDT',650],['GRTUSDT',1700],['DOTUSDT',10000],['ZILUSDT',1000],['FILUSDT',2000],['SCUSDT',200],['MATICUSDT',8000],['FTMUSDT',2000],['BANDUSDT',750],['1INCHUSDT',1000],['AUDIOUSDT',700],['IOTXUSDT',500],['CTSIUSDT',325],['LUNAUSDT','4000'],['SOLUSDT','3000'],['DOTUSDT','10000']]
startdate = '2021-01-01'
entries = pd.DataFrame(entrylist, columns =['Indicator', 'lowest_entry'],dtype = float) 
entries
entries.lowest_entry.astype(float)

indicator_list = entries['Indicator']
#indicator_list
#entries
entries.to_csv("entries.csv")

exposure = pd.DataFrame(exposurelist, columns =['Indicator', 'exposure'],dtype = float) 
exposure
exposure.exposure.astype(float)
#indicator_list
#entries
exposure.to_csv("exposure.csv")

entries = entries.merge(exposure ,how="left",on="Indicator")
#entries

fixentries = entries.merge(display ,how='left',on=['Indicator'])
#fixentries = fixentries.merge(exposure,how='left',on=['Indicator'])
#fixentries
#entries1 = entries.merge(fixentries,how='left',on=['Indicator'])
fixentries = fixentries.dropna(axis=0,subset=['ATH'])
fixentries=fixentries.drop_duplicates(subset='Indicator',keep='last')
fixentries.lowest_entry.astype(float)
fixentries.Current.astype(float)


fixentries['DROP'] = ((fixentries.lowest_entry - fixentries.Current)/fixentries.lowest_entry)*100
fixentries.sort_values(by=['DROP'],ascending=False,inplace = True)
fixentries

/Users/hjabbour/opt/anaconda3/envs/cryptodev/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3457: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised
  exec(code_obj, self.user_global_ns, self.user_ns)

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP
37,ONEUSDT,0.13171,1000.0,0.38,0.265129,0.410140,0.205070,0.102535,0.12972,1.580866,1.510895
9,ALGOUSDT,0.70460,3300.0,2.99,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024,-9.594096
31,RAYUSDT,2.50000,100.0,17.80,0.150175,10.207143,5.103571,2.551786,2.93500,1.738866,-17.400000

# Red Band

In [306]:
## over red entries 
overred = redband.merge(entries ,how="left",on="Indicator")
overed = overred.dropna(axis=0,subset=['RED'])
overred= overred[['Indicator','GREEN','ORANGE','RED','Current']]
overred

Empty DataFrame
Columns: [Indicator, GREEN, ORANGE, RED, Current]
Index: []

# Orange Band

In [307]:
## over orange entries 
overorange = entries.merge(orangeband ,how="left",on="Indicator")
overorange = overorange.dropna(axis=0,subset=['GREEN'])
overoranged= overorange[['Indicator','GREEN','ORANGE','RED','Current']]
overoranged

   Indicator      GREEN     ORANGE         RED   Current
9    ZRXUSDT   0.366117   0.732233    1.464467   0.78360
12  NEARUSDT   5.957667  11.915333   23.830667  16.59100
38  RUNEUSDT   3.459595   6.919190   13.838381   9.20400
45   ZILUSDT   0.033864   0.067727    0.135454   0.12081
55  LUNAUSDT  37.059524  74.119048  148.238095  94.16000

In [308]:
save = fixentries
save.to_csv("fixoneasy.csv")
save
del fixentries

In [309]:
#Gap is an acceptable area for rebounce and exit
orangedrop = save.loc[:]
orangedrop['GapOrange']= orangedrop['ORANGE']/orangedrop['Current']
orangedrop['GapRed']= orangedrop['RED']/orangedrop['Current']
orangedrop['GapATH']= orangedrop['ATH']/orangedrop['Current']
#orangedrop['GapAORT']= (orangedrop['GapATH']*orangedrop['GapOrange'])


orangedrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH
37,ONEUSDT,0.13171,1000.0,0.38,0.265129,0.410140,0.205070,0.102535,0.12972,1.580866,1.510895,1.580866,3.161733,2.929386
9,ALGOUSDT,0.70460,3300.0,2.99,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024,-9.594096,1.519024,3.038048,3.872054
31,RAYUSDT,2.50000,100.0,17.80,0.150175,10.207143,5.103571,2.551786,2.93500,1.738866,-17.400000,1.738866,3.477732,6.064736

In [310]:
# multiplying the gap with the value of the drop for a reasonable recovery
exposuredrop = orangedrop
exposuredrop['Total']= exposuredrop['exposure']*exposuredrop['DROP']*exposuredrop['GapOrange']
#exposuredrop['Total']= exposuredrop['DROP']*exposuredrop['GapOrange']*exposuredrop['CLOSERATIO']
#exposuredrop['Total']= exposuredrop['GapOrange']*exposuredrop['DROP']
#exposuredrop = exposuredrop.loc[exposuredrop['DROP']>0]

#exposuredrop.sort_values(by=['GapOrange'],ascending=False,inplace = True)
exposuredrop.sort_values(by=['CLOSERATIO'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total
9,ALGOUSDT,0.70460,3300.0,2.99,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024,-9.594096,1.519024,3.038048,3.872054,-48093.090455
37,ONEUSDT,0.13171,1000.0,0.38,0.265129,0.410140,0.205070,0.102535,0.12972,1.580866,1.510895,1.580866,3.161733,2.929386,2388.523497
31,RAYUSDT,2.50000,100.0,17.80,0.150175,10.207143,5.103571,2.551786,2.93500,1.738866,-17.400000,1.738866,3.477732,6.064736,-3025.626673

In [311]:
exposuredrop.to_csv("exposuredrop.csv")

In [312]:
# easy band and cap ratio
capratio = pd.read_csv('capratio.csv')
capratio = pd.DataFrame(capratio,columns=['Indicator','supply_ratio','cap_ratio'])
capratio

exposuredrop = exposuredrop.merge(capratio ,how='left',on=['Indicator'])
sort = exposuredrop.sort_values(by=['Total'],ascending=False,inplace = True)

exposuredrop

,Indicator,lowest_entry,exposure,ATH,CLOSERATIO,RED,ORANGE,GREEN,Current,ORatio,DROP,GapOrange,GapRed,GapATH,Total,supply_ratio,cap_ratio
1,ONEUSDT,0.13171,1000.0,0.38,0.265129,0.410140,0.205070,0.102535,0.12972,1.580866,1.510895,1.580866,3.161733,2.929386,2388.523497,0.898427,0.898427
2,RAYUSDT,2.50000,100.0,17.80,0.150175,10.207143,5.103571,2.551786,2.93500,1.738866,-17.400000,1.738866,3.477732,6.064736,-3025.626673,NaN,NaN
0,ALGOUSDT,0.70460,3300.0,2.99,0.316635,2.345981,1.172990,0.586495,0.77220,1.519024,-9.594096,1.519024,3.038048,3.872054,-48093.090455,0.662700,0.662700

In [313]:
undergreen = exposuredrop.loc[exposuredrop['Current'] < exposuredrop['GREEN']]
undergreen

Empty DataFrame
Columns: [Indicator, lowest_entry, exposure, ATH, CLOSERATIO, RED, ORANGE, GREEN, Current, ORatio, DROP, GapOrange, GapRed, GapATH, Total, supply_ratio, cap_ratio]
Index: []