In [ ]:
#Excel
#CSV
#HTML

In [1]:
import numpy as np
import pandas as pd
import talib.abstract as ta

# Read Excel & CSV File

In [12]:
table_A  = pd.read_excel('SamplePandas_A.xlsx',sheet_name='Sheet1')

In [26]:
table_A.loc[:3,:]

    Name          City  Age             Job
0  Sajid           Rio   56      Journalist
1   Sami  Kuala Lumpur   69  Data Scientist
2  Frank        Dallas   10          Singer
3    Raj      New York   63      Journalist

# Read web & HTML data

In [29]:
wiki_data = pd.read_html('https://en.wikipedia.org/wiki/Lebanon')

In [32]:
wiki_data = pd.read_html('https://en.wikipedia.org/wiki/Lebanon', match='Christian')
wiki_data[0].head()

,Lebanese Republicٱلْجُمْهُورِيَّةُ ٱللُّبْنَانِيَّةُ (Arabic)al-Jumhūrīyah al-LubnānīyahRépublique libanaise (French),Lebanese Republicٱلْجُمْهُورِيَّةُ ٱللُّبْنَانِيَّةُ (Arabic)al-Jumhūrīyah al-LubnānīyahRépublique libanaise (French).1
0,Flag Coat of arms,Flag Coat of arms
1,"Anthem: ""كلّنا للوطن"" (Arabic) ""Kullunā li-l-w...","Anthem: ""كلّنا للوطن"" (Arabic) ""Kullunā li-l-w..."
2,NaN,NaN
3,Capitaland largest city,"Beirut.mw-parser-output .geo-default,.mw-parse..."
4,Official languages,Arabic[nb 1]